<mat-card class="ngx-message-box {{ type }}">
    <mat-card-header>
        @if (icon || showCloseIcon) {
            <mat-card-title>
                @if (icon) {
                    <mat-icon id="icon">{{ icon }}</mat-icon>
                }
                @if (!horizontal) {
                    <span id="title">{{ title }}</span>
                }
                <div class="header-actions">
                    @if (showCloseIcon) {
                        <button mat-icon-button type="button" class="close" (click)="onClose()">
                            <mat-icon>close</mat-icon>
                        </button>
                    }
                </div>
            </mat-card-title>
        }
    </mat-card-header>
    <mat-card-content>
        @if (horizontal && title) {
            <h2 id="title">{{ title }}</h2>
        }
        <ng-content></ng-content>
    </mat-card-content>
    @if (actions) {
        <mat-card-actions>
            @for (action of actions; track $index) {
                <span>
                    @if (action.text) {
                        <button
                            mat-button
                            type="button"
                            (click)="action.action()"
                            class="with-icon"
                            [attr.data-icon]="action.icon">
                            {{ action.text }}
                        </button>
                    }
                    @if (!action.text && action.icon; as icon) {
                        <button
                            mat-icon-button
                            type="button"
                            [class.action-button]="!action.type"
                            (click)="action.action()">
                            <mat-icon>{{ icon }}</mat-icon>
                        </button>
                    }
                </span>
            }
        </mat-card-actions>
    }
    @if (!actions && actionsTemplate) {
        <mat-card-actions>
            <ng-template [ngTemplateOutlet]="actionsTemplate"></ng-template>
        </mat-card-actions>
    }
</mat-card>
