@if (status) {
    <ngx-snackbar
        alignment="bottom right"
        [class.hasInfo]="!!status.technicalText"
        class="ngx-snackbar ngx-snackbar-{{ status.type }} {{ status.className }}">
        @if (statusIcon) {
            <mat-icon>{{ statusIcon }}</mat-icon>
        }
        <span>
            <b>{{ status.title }}</b>
            @if (status.text; as text) {
                <p [innerHTML]="text"></p>
            }
            @if (status.actions?.length) {
                <div class="user-defined-actions">
                    @for (action of status.actions; track $index) {
                        <button type="button" mat-button (click)="executeAction(action)" [class]="action.className">
                            {{ action.label }}
                        </button>
                    }
                </div>
            }
            <span class="action-container">
                @if (status.technicalText) {
                    <mat-icon class="info" inline (click)="displayDetailedStatus$.next(status)">info</mat-icon>
                }
                <mat-icon class="close" inline (click)="close.next()">close</mat-icon>
            </span>
        </span>
    </ngx-snackbar>
}
