:host {
    display: flex;
    align-items: center;
    padding: var(--ngx-main-bar-padding, 0.25rem 1rem);
    gap: var(--ngx-main-bar-gap, 0.75rem);

    > .right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: var(--ngx-main-bar-right-gap, 0.75rem);
    }
}
