ngx-main-bar {
    display: flex;
    align-items: center;
    padding-block: 0.25rem;
    gap: 0.75rem;

    .right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: 0.75rem;
    }

    ngx-actions-group {
        flex: 1;
        min-inline-size: 3rem;
    }
}
