.ngx-sidenav {
    // # Variables
    --private-size: var(--ngx-nav-size, 88px);
    --private-bg-color: var(--ngx-nav-bg-color, transparent);
    --private-border-color: var(--ngx-nav-border-color, color-mix(in oklch, transparent, var(--private-color) 12%));
    --private-color: var(--ngx-nav-color, var(--mat-sys-on-surface));
    --private-scroll-width: var(--ngx-nav-size, 4px);
    --private-scroll-height: var(--ngx-nav-size, 8px);
    --private-scroll-color: var(--ngx-nav-scroll-color, color-mix(in oklch, transparent, var(--private-color) 20%));
    --private-scroll-hover: var(--ngx-nav-scroll-bg-color, color-mix(in oklch, transparent, var(--private-color) 40%));
    --private-scroll-bg-color: var(
        --ngx-nav-scroll-bg-color,
        color-mix(in oklch, var(--private-bg-color), var(--private-color) 20%)
    );

    &.ngx-nav-direction-vertical {
        --private-gap: var(--ngx-nav-gap, 1.5rem);
        --private-justify-content: var(--ngx-nav-justify-content, start);

        // # Nav Sizes
        &.ngx-nav-size-xs {
            --private-size: var(--ngx-nav-size, 44px);
            --private-gap: var(--ngx-nav-gap, 0.5rem);
        }

        &.ngx-nav-size-s {
            --private-size: var(--ngx-nav-size, 63px);
            --private-gap: var(--ngx-nav-gap, 0.5rem);
        }

        &.ngx-nav-size-m {
            --private-size: var(--ngx-nav-size, 88px);
        }

        &.ngx-nav-size-l {
            --private-size: var(--ngx-nav-size, 95px);
        }
    }

    &.ngx-nav-direction-horizontal {
        --private-size: var(--ngx-nav-size, 63px);
        --private-gap: var(--ngx-nav-gap, 1rem);
        --private-justify-content: var(--ngx-nav-justify-content, end);

        // # Nav Sizes
        &.ngx-nav-size-xs {
            --private-size: var(--ngx-nav-size, 44px);
        }

        &.ngx-nav-size-s {
            --private-size: var(--ngx-nav-size, 63px);
        }

        &.ngx-nav-size-m {
            --private-size: var(--ngx-nav-size, 88px);
        }

        &.ngx-nav-size-l {
            --private-size: var(--ngx-nav-size, 95px);
        }
    }

    // # Nav Justify
    &.ngx-nav-justify-start {
        --private-justify-content: var(--ngx-nav-justify-content, start);
    }

    &.ngx-nav-justify-center {
        --private-justify-content: var(--ngx-nav-justify-content, center);
    }

    &.ngx-nav-justify-end {
        --private-justify-content: var(--ngx-nav-justify-content, end);
    }

    &.ngx-nav-light-theme {
        --private-bg-color: var(--mat-sys-surface-container);
        --private-color: var(--mat-sys-secondary);
    }

    &.ngx-nav-dark-theme {
        --private-bg-color: var(--mat-sys-primary);
        --private-color: var(--mat-sys-on-primary);
    }

    &.ngx-nav-location-left {
        border-right: 1px solid var(--private-border-color);
    }

    &.ngx-nav-location-right {
        border-left: 1px solid var(--private-border-color);
    }

    &.ngx-nav-location-top {
        border-bottom: 1px solid var(--private-border-color);
    }

    &.ngx-nav-location-bottom {
        border-top: 1px solid var(--private-border-color);
    }

    // # Properties

    &.disabled {
        display: none;
    }

    position: relative;
    display: flex;

    background-color: var(--private-bg-color);
    color: var(--private-color);

    box-sizing: border-box;

    // .ngx-sidenav (host): relative container — defines the required size
    // .ngx-sidenav-layer: absolute overlay — prevents page scrolling and hides transparent background when scrolling
    // .ngx-sidenav-content: alignment container — uses a CSS variable to stay within max 100%, ensuring scrollbar appears when aligned to 'end'
    // .ngx-sidenav-wrapper: content container — handles scroll and padding, displays scrollbar if needed

    .ngx-nav-button-group {
        display: flex;
        --private-border: solid 1px color-mix(in oklch, transparent, var(--mat-sys-outline) 15%);
        border: var(--private-border);
    }

    .ngx-sidenav-layer {
        // (red)
        //border: solid 3px red !important; // To debug alignment
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        justify-content: start;
        align-items: center;

        .ngx-sidenav-content {
            // (orange)
            //border: solid 3px orange !important; // To debug alignment
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: start;
            max-width: 100%;

            .ngx-sidenav-wrapper {
                // (blue)
                //border: solid 3px blue !important; // To debug alignment
                flex-direction: row;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &.ngx-nav-direction-vertical {
        height: 100%;
        min-height: 100px;
        width: var(--private-size);
        min-width: var(--private-size);

        .ngx-sidenav-layer {
            // (red)
            flex-direction: column;
            overflow-x: hidden;
            overflow-y: auto;

            justify-content: var(--private-justify-content);
            align-items: center;

            .ngx-sidenav-wrapper {
                // (blue)
                flex-direction: column;
                gap: var(--private-gap);

                --private-padding: var(--ngx-nav-padding, 2rem 0);
                padding: var(--private-padding);
                box-sizing: border-box;
            }
        }
    }

    &.ngx-nav-direction-horizontal {
        flex-direction: column; // inversion des values de justify-content & align-items

        width: 100%;
        min-width: 100px;
        height: var(--private-size);
        min-height: var(--private-size);

        .ngx-nav-button-group {
            flex-direction: row;
            gap: var(--private-gap);
            border-radius: var(--mat-sys-corner-extra-large);
        }

        .ngx-sidenav-layer {
            // (red)
            flex-direction: row;
            overflow-x: auto;
            overflow-y: hidden;
            height: var(--private-size);

            justify-content: var(--private-justify-content);
            align-items: center;

            .ngx-sidenav-wrapper {
                // (blue)
                flex-direction: row;
                align-items: start;
                gap: var(--private-gap);

                --private-padding: var(--ngx-nav-padding, 0.5rem 1rem);
                padding: var(--private-padding);
                box-sizing: border-box;
            }
        }
    }

    // # Scrollbar

    .ngx-sidenav-layer {
        &::-webkit-scrollbar {
            width: var(--private-scroll-width);
            height: var(--private-scroll-height);
        }

        &::-webkit-scrollbar-track {
            background: var(--private-scroll-bg-color);
        }

        &::-webkit-scrollbar-thumb {
            background: var(--private-scroll-color);
            border: none;
            border-radius: 0;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: var(--private-scroll-hover);
        }
    }

    // # Title
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
}
