@use '@angular/material' as mat;
@use '../../../core/m2/styles/theme';
@use '../../../core/m2/styles/mixins/icon-theme' as iconTheme;
@use '../../../core/m2/styles/mixins/menu-theme' as menuTheme;
@use '../../../core/m2/styles/themeVariables' as themeVariables;
@use '../../../search-container/m2/search-container-theme' as searchContainerTheme;

@include searchContainerTheme.theme(themeVariables.$theme);
@include iconTheme.theme(themeVariables.$theme);
@include menuTheme.theme(themeVariables.$theme);
