<mat-tab-group mat-stretch-tabs="false" [selectedIndex]="tabIndex" (selectedTabChange)="tabIndex = $event.index">
    <mat-tab label="API REFERENCE"></mat-tab>
    <mat-tab label="EXAMPLES"></mat-tab>
</mat-tab-group>

<mat-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
    <!-- <markdown [url]="'https://raw.githubusercontent.com/DSI-HUG/dejajs-components/develop/projects/deja-js/component/ngx-time-picker/readme.md'"></markdown> -->
</mat-card>

<div *ngIf="tabIndex === 1" class="demo-card-container">
    <mat-card class="demo-card">
        <mat-card-header>
            <mat-toolbar color="primary">Default input autosize</mat-toolbar>
        </mat-card-header>
        <mat-card-content>
            <div class="flex-layout">
                <form [formGroup]="myForm">
                    <mat-form-field appearance="fill">
                        <mat-label>Write text and input will autosize</mat-label>
                        <span matTextPrefix>This is my preffix</span>
                        <input
                            matInput
                            type="text"
                            #dateTimePickerInput="matInput"
                            required
                            formControlName="myText"
                            ngx-input-autosize />
                        <span matTextSuffix>This is my suffix</span>
                    </mat-form-field>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>
