{
    "$schema": "https://json.schemastore.org/prettierrc.json",
    "plugins": [
        "prettier-plugin-multiline-arrays"
    ],
    "singleQuote": true,
    "bracketSameLine": true,
    "tabWidth": 4,
    "printWidth": 120,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "ignore",
    "proseWrap": "never",
    "multilineArraysWrapThreshold": 0
}
