@use '@angular/material' as mat;
@use './themeVariables' as themeVariables;
@use './mixins/material-icons-theme' as materialIconsTheme;

@import './roboto';

@include mat.elevation-classes();
@include mat.app-background();
@include mat.all-component-themes(themeVariables.$theme);
@include materialIconsTheme.theme();

body#hug-ngx {
    margin: 0;
    font-size: 14px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
