@mixin dialog() {
    .no-padding-dialog .mat-dialog-container {
        padding: 0;

        .mat-dialog-content {
            margin: 0;
        }
    }

    .mat-dialog-container {
        padding: 0;

        .mat-dialog-content {
            margin: 0;
        }

        .dialog-toolbar {
            display: flex;
            justify-content: space-between;

            .dialog-title {
                padding: 0 1rem 0 0;
            }

            .dialog-action {
                display: flex;
                align-items: center;
                justify-content: baseline;
                cursor: pointer;
                font-size: 85%;
                opacity: 0.9;
            }
        }

        .dialog-container {
            padding: 1rem;
            max-height: 65vh;
            max-width: 90vw;
            overflow: auto;
        }

        .dialog-buttons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0.7rem;

            .mat-button {
                margin: 0 0.5rem;
            }
        }
    }
}
