app-user-tooltip-demo {
    .flex-layout {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tooltip {
        height: 200px;
        width: 200px;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
}
