@use '@angular/material' as mat;
@use './m3-themes' as m3;

html {
    font-family: Roboto, 'Helvetica Neue', sans-serif;

    @include mat.theme(
        (
            typography: Roboto,
            density: 0
        )
    );

    @include mat.theme-overrides(
        (
            primary: var(--hy-color-primary),
            on-primary: var(--hy-color-on-primary),
            primary-container: var(--hy-color-primary-container),
            on-primary-container: var(--hy-color-on-primary-container),
            inverse-primary: var(--hy-color-inverse-primary),
            primary-fixed: var(--hy-color-primary-fixed),
            primary-fixed-dim: var(--hy-color-primary-fixed-dim),
            on-primary-fixed: var(--hy-color-on-primary-fixed),
            on-primary-fixed-variant: var(--hy-color-on-primary-fixed-variant),
            secondary: var(--hy-color-secondary),
            on-secondary: var(--hy-color-on-secondary),
            secondary-container: var(--hy-color-secondary-container),
            on-secondary-container: var(--hy-color-on-secondary-container),
            secondary-fixed: var(--hy-color-secondary-fixed),
            secondary-fixed-dim: var(--hy-color-secondary-fixed-dim),
            on-secondary-fixed: var(--hy-color-on-secondary-fixed),
            on-secondary-fixed-variant: var(--hy-color-on-secondary-fixed-variant),
            tertiary: var(--hy-color-tertiary),
            on-tertiary: var(--hy-color-on-tertiary),
            tertiary-container: var(--hy-color-tertiary-container),
            on-tertiary-container: var(--hy-color-on-tertiary-container),
            tertiary-fixed: var(--hy-color-tertiary-fixed),
            tertiary-fixed-dim: var(--hy-color-tertiary-fixed-dim),
            on-tertiary-fixed: var(--hy-color-on-tertiary-fixed),
            on-tertiary-fixed-variant: var(--hy-color-on-tertiary-fixed-variant),
            background: var(--hy-color-background),
            on-background: var(--hy-color-on-background),
            surface: var(--hy-color-surface),
            surface-dim: var(--hy-color-surface-dim),
            surface-bright: var(--hy-color-surface-bright),
            surface-container-low: var(--hy-color-surface-container-low),
            surface-container-lowest: var(--hy-color-surface-container-lowest),
            surface-container: var(--hy-color-surface-container),
            surface-container-high: var(--hy-color-surface-container-high),
            surface-container-highest: var(--hy-color-surface-container-highest),
            on-surface: var(--hy-color-on-surface),
            shadow: var(--hy-color-shadow),
            scrim: var(--hy-color-scrim),
            surface-tint: var(--hy-color-surface-tint),
            inverse-surface: var(--hy-color-inverse-surface),
            inverse-on-surface: var(--hy-color-inverse-on-surface),
            outline: var(--hy-color-outline),
            outline-variant: var(--hy-color-outline-variant),
            error: var(--hy-color-error),
            on-error: var(--hy-color-on-error),
            error-container: var(--hy-color-error-container),
            on-error-container: var(--hy-color-on-error-container),
            surface-variant: var(--hy-color-surface-variant),
            on-surface-variant: var(--hy-color-on-surface-variant)
        )
    );

    & {
        --mat-sys-warning: var(--hy-color-warning);
        --mat-sys-on-warning: var(--hy-color-on-warning);
        --mat-sys-warning-container: var(--hy-color-warning-container);
        --mat-sys-on-warning-container: var(--hy-color-on-warning-container);

        --mat-sys-body-small-emphasized: var(--hy-typo-body-small-emphasized);
        --mat-sys-body-medium-emphasized: var(--hy-typo-body-medium-emphasized);
        --mat-sys-body-large-emphasized: var(--hy-typo-body-large-emphasized);

        --mat-sys-body-small-emphasized-tracking: var(--hy-typo-ref-body-small-tracking);
        --mat-sys-body-medium-emphasized-tracking: var(--hy-typo-ref-body-medium-tracking);
        --mat-sys-body-large-emphasized-tracking: var(--hy-typo-ref-body-large-tracking);

        --mat-sys-display-small-emphasized: var(--hy-typo-display-small-emphasized);
        --mat-sys-display-medium-emphasized: var(--hy-typo-display-medium-emphasized);
        --mat-sys-display-large-emphasized: var(--hy-typo-display-large-emphasized);

        --mat-sys-display-small-emphasized-tracking: var(--hy-typo-ref-display-small-tracking);
        --mat-sys-display-medium-emphasized-tracking: var(--hy-typo-ref-display-medium-tracking);
        --mat-sys-display-large-emphasized-tracking: var(--hy-typo-ref-display-large-tracking);

        --mat-sys-headline-small-emphasized: var(--hy-typo-headline-small-emphasized);
        --mat-sys-headline-medium-emphasized: var(--hy-typo-headline-medium-emphasized);
        --mat-sys-headline-large-emphasized: var(--hy-typo-headline-large-emphasized);

        --mat-sys-headline-small-emphasized-tracking: var(--hy-typo-ref-headline-small-tracking);
        --mat-sys-headline-medium-emphasized-tracking: var(--hy-typo-ref-headline-medium-tracking);
        --mat-sys-headline-large-emphasized-tracking: var(--hy-typo-ref-headline-large-tracking);

        --mat-sys-label-small-emphasized: var(--hy-typo-label-small-emphasized);
        --mat-sys-label-medium-emphasized: var(--hy-typo-label-medium-emphasized);
        --mat-sys-label-large-emphasized: var(--hy-typo-label-large-emphasized);

        --mat-sys-label-small-emphasized-tracking: var(--hy-typo-ref-label-small-tracking);
        --mat-sys-label-medium-emphasized-tracking: var(--hy-typo-ref-label-medium-tracking);
        --mat-sys-label-large-emphasized-tracking: var(--hy-typo-ref-label-large-tracking);

        --mat-sys-title-small-emphasized: var(--hy-typo-title-small-emphasized);
        --mat-sys-title-medium-emphasized: var(--hy-typo-title-medium-emphasized);
        --mat-sys-title-large-emphasized: var(--hy-typo-title-large-emphasized);

        --mat-sys-title-small-emphasized-tracking: var(--hy-typo-ref-title-small-tracking);
        --mat-sys-title-medium-emphasized-tracking: var(--hy-typo-ref-title-medium-tracking);
        --mat-sys-title-large-emphasized-tracking: var(--hy-typo-ref-title-large-tracking);
    }

    &.light {
        color-scheme: light;
    }

    &.dark {
        color-scheme: dark;
    }
}
