@if (mediaService.isHandset$ | async) {
    <div class="ngx-search-container-mobile mobile" [class.active]="activeSearch()" #mobileSearch>
        <mat-icon
            class="icon-close-search"
            [matTooltip]="
                activeSearch() ? (intl?.exitSearch ?? 'Exit the search') : (intl?.openSearch ?? 'Open the search')
            "
            (click)="activeSearch.set(!activeSearch())">
            arrow_back
        </mat-icon>

        @if (activeSearch()) {
            <ng-container *ngTemplateOutlet="searchContainerTpl"></ng-container>
        }
    </div>
} @else {
    <ng-container *ngTemplateOutlet="searchContainerTpl"></ng-container>
}

<ng-template #searchContainerTpl>
    <div class="ngx-search-container">
        <mat-icon>search</mat-icon>
        <ng-content></ng-content>
        @if (searchInputValue()) {
            <mat-icon class="icon-clear" [matTooltip]="intl?.clearSearch ?? 'Clear the search'" (click)="reset()">
                close
            </mat-icon>
        }
        <ng-container *ngTemplateOutlet="right()"></ng-container>
    </div>
</ng-template>
