<div *ngIf="mediaService.isHandset$ | async; else noHandsetTpl" class="search-container-mobile mobile" [class.active]="activeSearch$ | async" #mobileSearch>
    <ng-container *ngIf="activeSearch$ | async; else noActiveSearchTpl">
        <mat-icon (click)="activeSearch$.next(false)">arrow_back</mat-icon>
        <ng-container *ngTemplateOutlet="searchContainerTpl"></ng-container>
    </ng-container>
    <ng-template #noActiveSearchTpl>
        <mat-icon (click)="activeSearch$.next(true)">search</mat-icon>
    </ng-template>
</div>

<ng-template #noHandsetTpl>
    <ng-container *ngTemplateOutlet="searchContainerTpl"></ng-container>
</ng-template>

<ng-template #searchContainerTpl>
    <div class="search-container">
        <mat-icon>search</mat-icon>
        <ng-content></ng-content>
        <mat-icon *ngIf="searchInputValue$ | async" class="icon-clear" [matTooltip]="clearTooltip" (click)="reset()">close</mat-icon>
        <ng-container *ngTemplateOutlet="right"></ng-container>
    </div>
</ng-template>
