@use '@angular/material' as mat;

@mixin theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    ngx-layout > .mat-toolbar.mat-primary {
        background-color: mat.m2-get-color-from-palette($primary, darker);
        color: mat.m2-get-color-from-palette($primary, darker-contrast);

        .mat-mdc-icon-button:not([disabled]) .mat-icon {
            color: mat.m2-get-color-from-palette($primary, darker-contrast);
        }

        &:not(:first-of-type) {
            background-color: mat.m2-get-color-from-palette($primary);
            color: mat.m2-get-color-from-palette($primary, default-contrast);

            .mat-mdc-icon-button:not([disabled]) .mat-icon {
                color: mat.m2-get-color-from-palette($primary, default-contrast);
            }
        }
    }

    ngx-layout {
        mat-drawer {
            &.right {
                [filters-title] {
                    color: mat.m2-get-color-from-palette($foreground, secondary-text);
                    background-color: mat.m2-get-color-from-palette($background, disabled-button-toggle);
                }

                [filters-subtitle] {
                    color: mat.m2-get-color-from-palette($foreground, secondary-text);
                    background-color: mat.m2-get-color-from-palette($background, hover);
                }

                [filters-icon] {
                    color: mat.m2-get-color-from-palette($foreground, text);

                    &:hover {
                        color: mat.m2-get-color-from-palette($foreground, secondary-text);
                    }
                }

                [filters-chip-list] {
                    .mat-mdc-chip {
                        background-color: mat.m2-get-color-from-palette($accent);
                        color: mat.m2-get-color-from-palette($background, background);
                    }

                    .mat-mdc-chip {
                        &:not([disabled]) {
                            &:hover {
                                background-color: mat.m2-get-color-from-palette($accent, 700);
                                color: mat.m2-get-color-from-palette($accent, 600);

                                &:before {
                                    color: mat.m2-get-color-from-palette($background, background);
                                }
                            }
                        }
                    }
                }

                [filters-toggle-group] {
                    .mat-button-toggle {
                        color: mat.m2-get-color-from-palette($foreground, secondary-text);

                        &.mat-button-toggle-checked {
                            background-color: mat.m2-get-color-from-palette($accent);
                            color: mat.m2-get-color-from-palette($background, background);
                        }

                        &:not(:has(button[disabled])) {
                            &:hover {
                                background-color: mat.m2-get-color-from-palette($accent, 200);
                                color: mat.m2-get-color-from-palette($background, background);
                            }
                        }
                    }
                }
            }
        }

        mat-button-toggle-group {
            &:not([filters-toggle-group]):not([color='accent']):not([color='primary']) {
                mat-button-toggle {
                    button {
                        .mat-button-toggle-label-content {
                            color: mat.m2-get-color-from-palette($foreground, secondary-text);
                        }
                    }
                }
            }
        }

        mat-toolbar {
            &.actions {
                .info-boxes-container {
                    .info-box {
                        &.accent {
                            background-color: mat.m2-get-color-from-palette($accent);
                            color: mat.m2-get-color-from-palette($accent, default-contrast);
                        }

                        &.primary {
                            background-color: mat.m2-get-color-from-palette($primary, 800);
                            color: mat.m2-get-color-from-palette($primary, default-contrast);
                        }
                    }
                }
            }
        }

        // Custom scrollbar
        ::-webkit-scrollbar-track {
            background-color: mat.m2-get-color-from-palette($background, background);
        }

        ::-webkit-scrollbar-thumb {
            background-color: mat.m2-get-color-from-palette($foreground, hint-text);
            border: 2px solid mat.m2-get-color-from-palette($background, background);
        }

        ::-webkit-scrollbar-thumb:hover {
            background-color: mat.m2-get-color-from-palette($foreground, secondary-text);
        }

        .editor-toolbar-wrapper {
            background-color: mat.m2-get-color-from-palette($background, background);
        }
    }
}
