@if (hasTitle()) {
    <ng-content select="h1[ngxTitleBar], h2[ngxTitleBar], h3[ngxTitleBar], h4[ngxTitleBar], h5[ngxTitleBar], h6[ngxTitleBar]"></ng-content>
}
@if(!hasTitle()) {
    <ng-container [ngTemplateOutlet]="actionsGroup"></ng-container>
}@else {
    <ng-container [ngTemplateOutlet]="ngContent"></ng-container>
}

@if (hasRightContent()) {
    <div class="right">
        @if(hasTitle()) {
            <ng-container [ngTemplateOutlet]="actionsGroup"></ng-container>
        } @else {
            <ng-container [ngTemplateOutlet]="ngContent"></ng-container>
        }
        <ng-content select="ngx-filters-group"></ng-content>
        <ng-content select="ngx-search-bar-container"></ng-content>
    </div>
}

<ng-template #actionsGroup>
    <ng-content select="ngx-actions-group"></ng-content>
</ng-template>

<ng-template #ngContent>
    <ng-content></ng-content>
</ng-template>