@use '../../../core/m2/styles/theme';
@use '../../../core/m2/styles/themeVariables' as themeVariables;
@use '../../../message-box/src/message-box-theme' as messageBoxTheme;

@include messageBoxTheme.theme(themeVariables.$theme);

section.message-box {
    padding: 1rem;
    font-family: 'Roboto';
    background-color: white;
    width: 40vw;
}
