:host {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    block-size: 100%;
    min-width: min-content;
    flex: 1;
    overflow: visible;
    position: relative;

    .content {
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: var(--ngx-column-content-gap, 0.5rem);
        padding: var(--ngx-column-content-padding-inline, 0.25rem 0.5rem);
        flex: 1;

        &.no-padding {
            padding: 0;
        }
    }
}
