ngx-search-bar-container {
    display: flex;
    flex: 1 1 auto;
    max-width: var(--ngx-search-bar-container-max-width, 400px);
    align-items: center;
    block-size: var(--ngx-search-bar-container-block-size, 3rem);
    border-radius: var(--ngx-search-bar-container-radius, 2rem);
    padding-inline-start: var(--ngx-search-bar-container-padding-inline-start, 1.125rem);
    padding-inline-end: var(--ngx-search-bar-container-padding-inline-end, 0.25rem);
    background-color: var(--mat-sys-surface-container-high);
    gap: var(--ngx-search-bar-container-gap, 0.125rem);

    &:has(button:only-child) {
        width: fit-content;
        padding: var(--ngx-search-bar-container-folded-padding, 0 0.25rem);
        flex: 0;
    }

    /*
    &.small {
        block-size: 2.5rem;

        mat-icon.icon-search-bar {
            padding: 0.5rem;
            block-size: 1.25rem;
            inline-size: 1.25rem;
            font-size: 1.25rem;
        }
    }
    */

    > input[ngxSearchInput] {
        font: var(--mat-sys-body-large);
        letter-spacing: var(--mat-sys-body-large-tracking);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 10px;

        &::placeholder {
            color: var(--mat-sys-on-surface-variant);
        }
    }

    mat-icon.icon-search-bar {
        padding: var(--ngx-search-bar-container-icon-padding, 0.5rem);
        color: var(--mat-sys-on-surface-variant);
    }

    [ngxSearchInput] {
        flex: 1;
        background: none;
        border: none;

        &:focus {
            outline: none;
        }
    }
}
