html {
    --item-padding-large: 2em;
    --item-padding: 1rem;
    --item-padding-small: 0.5rem;

    --item-margin: 0.8rem;

    --item-gap: 1rem;
    --item-gap-small: 0.5rem;

    --item-border: 1px solid;
    --item-border-fatter: 2px solid;

    --item-border-radius: 0.8rem;
    --item-border-radius-small: 0.5rem;

    --transition-time: 300ms ease;
    --image-aspect-ratio: 4/3;
}
