@if (folded()) {
    <section
        class="filter-container"
        #container
        [matBadge]="activeFiltersAmount()"
        [matBadgeHidden]="activeFiltersAmount() <= 0">
        <button
            mat-icon-button
            aria-label="All filters"
            cdkOverlayOrigin
            #trigger="cdkOverlayOrigin"
            [class.filter-overlay-open]="this.overlayOpen() && this.overlayContent() === moreFilters"
            (click)="openOverlay(trigger, moreFilters, true)"
            (keydown.enter)="openOverlay(trigger, moreFilters, true)"
            (keydown.space)="openOverlay(trigger, moreFilters, true)"
            matTooltip="{{ intl?.allFilters ?? 'All filters' }}">
            <mat-icon>filter_alt</mat-icon>
        </button>
    </section>
} @else {
    @if (allFilters()) {
        <section #measureRow class="measure-row">
            <mat-chip-set>
                @for (f of allFilters(); track $index) {
                    <mat-chip-option [selectable]="false" [selected]="f.active()">
                        {{ f.label() }}
                        @if (f.type === 'complex' && f.selectedFilterLabel()) {
                            <span class="selected-label">&nbsp;: {{ f.selectedFilterLabel() }}</span>
                        }
                        @if (f.type === 'complex') {
                            <mat-icon matChipTrailingIcon>arrow_drop_down</mat-icon>
                        }
                    </mat-chip-option>
                }
                <mat-chip #overflowMeasure>
                    +00 {{ intl?.filters ?? 'Filters' | lowercase }} (00 {{ intl?.actives ?? 'Actives' | lowercase }})
                    <mat-icon matChipTrailingIcon>arrow_drop_down</mat-icon>
                </mat-chip>
            </mat-chip-set>
        </section>
    }

    <section class="filter-container" #container>
        @if (this.visibleFilters().length) {
            <mat-chip-set>
                @for (f of visibleFilters(); track $index) {
                    @if (f.type === 'toggle') {
                        <mat-chip-option
                            selectable="true"
                            [selected]="f.active()"
                            (selectionChange)="f.active.set($event.selected)">
                            {{ f.label() }}
                        </mat-chip-option>
                    } @else {
                        <mat-chip-option
                            [selectable]="false"
                            [selected]="f.active()"
                            [class.filter-overlay-open]="this.overlayOpen() && this.overlayContent() === f.templateRef"
                            cdkOverlayOrigin
                            #trigger="cdkOverlayOrigin"
                            (click)="this.openOverlay(trigger, f.templateRef, false)"
                            (keydown.enter)="this.openOverlay(trigger, f.templateRef, false)"
                            (keydown.space)="this.openOverlay(trigger, f.templateRef, false)">
                            {{ f.label() }}
                            @if (f.selectedFilterLabel()) {
                                <span class="selected-label">&nbsp;: {{ f.selectedFilterLabel() }}</span>
                            }
                            <mat-icon matChipTrailingIcon>
                                {{
                                    this.overlayOpen() && this.overlayContent() === f.templateRef
                                        ? 'arrow_drop_up'
                                        : 'arrow_drop_down'
                                }}
                            </mat-icon>
                        </mat-chip-option>
                    }
                }
            </mat-chip-set>
        }
        <section class="static" #static>
            @if (invisibleFilters().length; as invisibleFiltersAmount) {
                <mat-chip-set>
                    <mat-chip
                        cdkOverlayOrigin
                        [class.filter-active]="activeFiltersAmount()"
                        [class.filter-overlay-open]="this.overlayOpen() && this.overlayContent() === moreFilters"
                        #trigger="cdkOverlayOrigin"
                        (click)="openOverlay(trigger, moreFilters, true)"
                        (keydown.enter)="openOverlay(trigger, moreFilters, true)"
                        (keydown.space)="openOverlay(trigger, moreFilters, true)">
                        +{{ invisibleFiltersAmount }} {{ intl?.filters ?? 'Filters' | lowercase }} ({{
                            activeFiltersAmount()
                        }}
                        {{ intl?.actives ?? 'Actives' | lowercase }})
                        <mat-icon matChipTrailingIcon>
                            {{
                                this.overlayOpen() && this.overlayContent() === moreFilters
                                    ? 'arrow_drop_up'
                                    : 'arrow_drop_down'
                            }}
                        </mat-icon>
                    </mat-chip>
                </mat-chip-set>
            }
            <button
                mat-icon-button
                aria-label="Reset filters"
                (click)="emitResetClicked()"
                matTooltip="{{ intl?.reset ?? 'Reset' }}">
                <mat-icon>settings_backup_restore</mat-icon>
            </button>
        </section>
    </section>
}

<ng-template #moreFilters>
    @if (allFilters()) {
        @for (f of allFilters(); track $index; let last = $last) {
            @if (f.type === 'toggle') {
                <section class="filter">
                    <mat-slide-toggle labelPosition="before" [(ngModel)]="f.active">
                        {{ f.label() }}
                    </mat-slide-toggle>
                </section>
            } @else {
                <section class="filter">
                    <div class="title">
                        <span class="label">{{ f.label() }}</span>
                        <span class="value">{{ f.selectedFilterLabel() }}</span>
                    </div>
                    @if (f.templateRef) {
                        <ng-container *ngTemplateOutlet="f.templateRef"></ng-container>
                    }
                </section>
            }
            @if (!last) {
                <mat-divider></mat-divider>
            }
        }
    }
</ng-template>

@let overlayOrigin = this.overlayOrigin();
@let overlayOpen = this.overlayAutoPosition() ? this.overlayCanStayOpen() : this.overlayOpen();
@let overlayContent = this.overlayContent();
@if (overlayOrigin && overlayOpen && overlayContent) {
    <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="overlayOrigin"
        [cdkConnectedOverlayOpen]="overlayOpen"
        (detach)="this.overlayOpen.set(false)"
        [cdkConnectedOverlayHasBackdrop]="true"
        [ngxFiltersOverlayAutoPosition]="overlayAutoPosition()"
        (backdropClick)="this.overlayOpen.set(false)"
        cdkConnectedOverlayPanelClass="filters-group--overlay"
        cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
        [cdkConnectedOverlayPositions]="overlayPositions"
        [cdkConnectedOverlayFlexibleDimensions]="true"
        [cdkConnectedOverlayGrowAfterOpen]="true"
        [cdkConnectedOverlayViewportMargin]="32">
        <div class="filters-group--overlay--container" cdkTrapFocus cdkTrapFocusAutoCapture="true">
            @if (moreFiltersOverlay()) {
                <div class="filters--title">
                    <span>
                        {{ intl?.filters ?? 'Filters' }} ({{ activeFilters() }}
                        {{ intl?.actives ?? 'Actives' | lowercase }})
                    </span>
                    <button
                        mat-icon-button
                        aria-label="Reset filters"
                        (click)="emitResetClicked()"
                        matTooltip="{{ intl?.reset ?? 'Reset' }}">
                        <mat-icon>settings_backup_restore</mat-icon>
                    </button>
                </div>
                <mat-divider></mat-divider>
                <div class="filters--content">
                    <ng-container *ngTemplateOutlet="overlayContent"></ng-container>
                </div>
            } @else {
                <div class="one-filter-content">
                    <ng-container *ngTemplateOutlet="overlayContent"></ng-container>
                </div>
            }
        </div>
    </ng-template>
}
