@if (folded()) {
    <section
        class="filter-container"
        #container
        [matBadge]="activeFiltersAmount()"
        [matBadgeHidden]="activeFiltersAmount() <= 0">
        <button
            mat-icon-button
            aria-label="All filters"
            cdkOverlayOrigin
            #trigger="cdkOverlayOrigin"
            [class.filter-overlay-open]="this.overlayOpen() && this.overlayContent() === moreFilters"
            (click)="openOverlay(trigger, moreFilters, true)"
            (keydown.enter)="openOverlay(trigger, moreFilters, true)"
            (keydown.space)="openOverlay(trigger, moreFilters, true)"
            matTooltip="{{ intl?.allFilters ?? 'All filters' }}">
            <mat-icon>filter_alt</mat-icon>
        </button>
    </section>
} @else {
    @if (allFilters()) {
        <section #measureRow class="measure-row">
            <mat-chip-set>
                @for (f of allFilters(); track $index) {
                    <mat-chip-option [selectable]="false" [selected]="f.active()">
                        @if (f.icon()) {
                            <mat-icon matChipAvatar>{{ f.icon() }}</mat-icon>
                        }
                        {{ f.label() }}
                        @if (f.type === 'complex' && f.selectedFilterLabel()) {
                            <span class="selected-label">&nbsp;: {{ f.selectedFilterLabel() }}</span>
                        }
                        @if (f.type === 'complex') {
                            <mat-icon matChipTrailingIcon>arrow_drop_down</mat-icon>
                        }
                    </mat-chip-option>
                }
                <mat-chip>
                    +00 {{ intl?.filters ?? 'Filters' | lowercase }} (00 {{ intl?.actives ?? 'Actives' | lowercase }})
                    <mat-icon matChipTrailingIcon>arrow_drop_down</mat-icon>
                </mat-chip>
            </mat-chip-set>
        </section>
    }

    <section class="filter-container" #container>
        @if (this.visibleFilters().length) {
            <mat-chip-set>
                @for (f of visibleFilters(); track $index) {
                    @if (f.type === 'toggle') {
                        <mat-chip-option
                            selectable="true"
                            [selected]="f.active"
                            (selectionChange)="f.source.active.set($event.selected)">
                            @if (f.source.icon()) {
                                <mat-icon matChipAvatar>{{ f.source.icon() }}</mat-icon>
                            }
                            {{ f.source.label() }}
                        </mat-chip-option>
                    } @else {
                        <mat-chip-option
                            [selectable]="false"
                            [selected]="f.active"
                            [class.filter-overlay-open]="this.overlayOpen() && this.overlayContent() === f.templateRef"
                            cdkOverlayOrigin
                            #trigger="cdkOverlayOrigin"
                            (click)="this.openOverlay(trigger, f.templateRef, false, f.source.validationDynamique())"
                            (keydown.enter)="
                                this.openOverlay(trigger, f.templateRef, false, f.source.validationDynamique())
                            "
                            (keydown.space)="
                                this.openOverlay(trigger, f.templateRef, false, f.source.validationDynamique())
                            ">
                            @if (f.source.icon()) {
                                <mat-icon matChipAvatar>{{ f.source.icon() }}</mat-icon>
                            }
                            {{ f.source.label() }}
                            @if (f.selectedFilterLabel) {
                                <span class="selected-label">&nbsp;: {{ f.selectedFilterLabel }}</span>
                            }
                            <mat-icon matChipTrailingIcon>
                                {{
                                    this.overlayOpen() && this.overlayContent() === f.templateRef
                                        ? 'arrow_drop_up'
                                        : 'arrow_drop_down'
                                }}
                            </mat-icon>
                        </mat-chip-option>
                    }
                }
            </mat-chip-set>
        }
        <section class="static" #static>
            @if (invisibleFilters().length; as invisibleFiltersAmount) {
                <mat-chip-set>
                    <mat-chip
                        cdkOverlayOrigin
                        [highlighted]="activeFiltersAmount() > 0"
                        [class.filter-overlay-open]="this.overlayOpen() && this.overlayContent() === moreFilters"
                        #trigger="cdkOverlayOrigin"
                        class="more-filters-chip"
                        (click)="openOverlay(trigger, moreFilters, true)"
                        (keydown.enter)="openOverlay(trigger, moreFilters, true)"
                        (keydown.space)="openOverlay(trigger, moreFilters, true)">
                        +{{ invisibleFiltersAmount }} {{ intl?.filters ?? 'Filters' | lowercase }} ({{
                            activeFiltersAmount()
                        }}
                        {{ intl?.actives ?? 'Actives' | lowercase }})
                        <mat-icon matChipTrailingIcon>
                            {{
                                this.overlayOpen() && this.overlayContent() === moreFilters
                                    ? 'arrow_drop_up'
                                    : 'arrow_drop_down'
                            }}
                        </mat-icon>
                    </mat-chip>
                </mat-chip-set>
            }
            <button
                mat-icon-button
                aria-label="Reset filters"
                (click)="emitResetClicked()"
                matTooltip="{{ intl?.reset ?? 'Reset' }}">
                <mat-icon>settings_backup_restore</mat-icon>
            </button>
        </section>
    </section>
}

<ng-template #moreFilters>
    @if (allFilters()) {
        <cdk-accordion #accordion="cdkAccordion" [multi]="true">
            @for (f of allFilters(); track $index; let last = $last) {
                @if (f.type === 'toggle') {
                    <section class="filter">
                        <mat-slide-toggle labelPosition="before" [(ngModel)]="f.active">
                            {{ f.label() }}
                        </mat-slide-toggle>
                    </section>
                } @else {
                    <cdk-accordion-item
                        #accordionItem="cdkAccordionItem"
                        class="filter"
                        (opened)="onFilterOpened()"
                        (closed)="onFilterClosed()">
                        <button
                            #headline
                            class="headline"
                            type="button"
                            (click)="accordionItem.toggle()"
                            [attr.aria-expanded]="accordionItem.expanded"
                            [attr.aria-controls]="'filter-content-' + $index">
                            <span class="title">
                                <span class="label">{{ f.label() }}</span>
                                <span class="value">{{ f.selectedFilterLabel() }}</span>
                            </span>

                            <mat-icon aria-hidden="true" class="expand-icon">
                                {{ accordionItem.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
                            </mat-icon>
                        </button>

                        @if (accordionItem.expanded) {
                            <div class="filter-content" role="region" [id]="'filter-content-' + $index">
                                <ng-container
                                    *ngTemplateOutlet="
                                        f.templateRef;
                                        context: contextForSection(accordionItem, headline)
                                    "></ng-container>
                            </div>
                        }
                    </cdk-accordion-item>
                }

                @if (!last) {
                    <mat-divider />
                }
            }
        </cdk-accordion>
    }
</ng-template>

<ng-template #footer>
    <div class="filters-group--overlay--footer-actions">
        <button matButton (click)="emitCancelClicked()">{{ intl?.cancel ?? 'Cancel' }}</button>
        <button matButton="filled" (click)="emitAppliedFilters()">{{ intl?.apply ?? 'Apply' }}</button>
    </div>
</ng-template>

@let overlayOrigin = this.overlayOrigin();
@let overlayOpen = this.overlayOpen();
@let overlayContent = this.overlayContent();
@if (overlayOrigin && overlayOpen && overlayContent) {
    <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="overlayOrigin"
        [cdkConnectedOverlayOpen]="overlayOpen"
        (detach)="this.overlayOpen.set(false)"
        [cdkConnectedOverlayHasBackdrop]="true"
        (backdropClick)="validateDynamic() && this.overlayOpen.set(false)"
        cdkConnectedOverlayPanelClass="filters-group--overlay"
        cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
        [cdkConnectedOverlayPositions]="overlayPositions"
        [cdkConnectedOverlayGrowAfterOpen]="true"
        [cdkConnectedOverlayFlexibleDimensions]="true"
        [cdkConnectedOverlayViewportMargin]="32">
        <div class="filters-group--overlay--container" cdkTrapFocus cdkTrapFocusAutoCapture="true">
            @if (moreFiltersOverlay()) {
                <div class="filters--title">
                    <span class="title">
                        {{ intl?.filters ?? 'Filters' }} ({{ activeFilters() }}
                        {{ intl?.actives ?? 'Actives' | lowercase }})
                    </span>
                    <button
                        mat-icon-button
                        type="button"
                        aria-label="Collapse all filters"
                        [disabled]="expandedFiltersAmount() === 0"
                        (click)="collapseAllFilters()"
                        matTooltip="{{ intl?.collapseAll ?? 'Collapse all' }}">
                        <mat-icon>unfold_less</mat-icon>
                    </button>
                    <button
                        mat-icon-button
                        aria-label="Reset filters"
                        (click)="emitResetClicked()"
                        matTooltip="{{ intl?.reset ?? 'Reset' }}">
                        <mat-icon>settings_backup_restore</mat-icon>
                    </button>
                </div>
                <mat-divider class="filters-group--title-divider" />
                <div #filtersContent class="filters--content">
                    <ng-container *ngTemplateOutlet="overlayContent"></ng-container>
                </div>
                <mat-divider />
                <ng-container *ngTemplateOutlet="footer"></ng-container>
            } @else {
                <div #oneFilterContent class="one-filter-content" [class.has-overflow]="hasOverflow()">
                    <ng-container *ngTemplateOutlet="overlayContent; context: filterContext"></ng-container>
                </div>
                @if (!validateDynamic()) {
                    @if (hasOverflow()) {
                        <mat-divider />
                    }
                    <ng-container *ngTemplateOutlet="footer"></ng-container>
                }
            }
        </div>
    </ng-template>
}
