@use '@angular/material' as mat;

ngx-filters-group {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: end;

    .selected-label {
        max-inline-size: var(--ngx-filters-group-selected-label-max-width, 27ch);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }

    .measure-row {
        display: flex;
        flex-direction: row;
        gap: var(--ngx-filters-group-gap, 0.5rem);
        position: absolute;
        visibility: hidden;
        pointer-events: none;
    }

    .filter-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--ngx-filters-group-gap, 0.5rem);

        block-size: var(--ngx-filters-group-block-size, 3rem);
        border-radius: var(--ngx-filters-group-radius, 2rem);
        padding-inline: var(--ngx-filters-group-padding-inline, 0.5rem);

        background-color: var(--mat-sys-surface-container-low);

        .static {
            display: flex;
            flex-direction: row;
            gap: var(--ngx-filters-group-gap, 0.5rem);

            &:only-child mat-chip-set mat-chip {
                @include mat.chips-overrides(
                    (
                        container-shape-radius: var(
                                --ngx-filters-group-first-chip-option-shape-radius,
                                1rem 0.5rem 0.5rem 1rem
                            )
                    )
                );
            }

            mat-chip {
                &:first-child {
                    @include mat.chips-overrides(
                        (
                            container-shape-radius: var(--ngx-filters-group-first-chip-shape-radius, 0.5rem)
                        )
                    );
                }

                &.filter-active {
                    @include mat.chips-overrides(
                        (
                            elevated-container-color: var(
                                    --ngx-filters-group-filter-active-container-color,
                                    var(--mat-sys-secondary-container)
                                ),
                            outline-color: var(--ngx-filters-group-filter-active-outline-color, transparent)
                        )
                    );

                    &.filter-overlay-open {
                        @include mat.chips-overrides(
                            (
                                elevated-container-color: var(
                                        --ngx-filters-group-filter-active-overlay-open-container-color,
                                        color-mix(
                                            in srgb,
                                            var(--mat-sys-on-secondary-container) 10%,
                                            var(--mat-sys-secondary-container)
                                        )
                                    )
                            )
                        );
                    }
                }
            }
        }

        mat-chip-set > div {
            flex-wrap: nowrap;
        }

        mat-chip,
        mat-chip-option {
            min-inline-size: 0;

            &:first-child {
                @include mat.chips-overrides(
                    (
                        container-shape-radius: var(
                                --ngx-filters-group-first-chip-option-shape-radius,
                                1rem 0.5rem 0.5rem 1rem
                            )
                    )
                );
            }

            &.filter-overlay-open {
                @include mat.chips-overrides(
                    (
                        elevated-container-color: var(
                                --ngx-filters-group-filter-overlay-open-container-color,
                                color-mix(in srgb, var(--mat-sys-on-surface) 10%, var(--mat-sys-surface))
                            ),
                        elevated-selected-container-color: var(
                                --ngx-filters-group-filter-overlay-open-selected-container-color,
                                color-mix(
                                    in srgb,
                                    var(--mat-sys-on-secondary-container) 10%,
                                    var(--mat-sys-secondary-container)
                                )
                            )
                    )
                );
            }

            .mat-mdc-chip-action-label {
                display: flex;
                align-items: center;
            }
        }

        &:has(> button:only-of-type) {
            padding-inline: var(--ngx-filters-group-folded-padding-inline, 0.25rem);
        }
    }

    [mat-icon-button].filter-overlay-open {
        background-color: var(
            --ngx-filters-group-filter-overlay-open-icon-button-bg-color,
            color-mix(in srgb, var(--mat-sys-on-surface-variant) 10%, transparent)
        );
    }
}

.filters-group--overlay {
    background-color: var(--ngx-filters-group-overlay-bg-color, var(--mat-sys-surface-container-low));
    border-radius: var(--ngx-filters-group-overlay-radius, 16px);
    overflow: hidden;
    display: flex;
    max-width: min(90dvw, 560px);
    @include mat.elevation(3);

    .filters-group--overlay--container {
        padding: var(--ngx-filters-group-overlay-container-padding, 0.25rem);
        max-width: var(--ngx-filters-group-overlay-container-max-width, min(calc(90dvw - 8px), 552px));
        display: flex;
        flex-direction: column;
        min-block-size: 0;
        block-size: 100%;
        overflow: hidden;
        box-sizing: border-box;

        .one-filter-content {
            display: inline-block;
            flex: 1 1 auto;
            overflow-y: auto;
            overflow-x: hidden;
            box-sizing: border-box;
            border-radius: var(--ngx-filters-group-overlay-one-filter-radius, 0.75rem);
        }

        .filters--title {
            font: var(--ngx-filters-group-overlay-title-font, var(--mat-sys-title-medium));
            letter-spacing: var(--ngx-filters-group-overlay-title-letter-spacing, var(--mat-sys-title-medium-tracking));
            color: var(--ngx-filters-group-overlay-title-color, var(--mat-sys-on-surface-variant));
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-inline: var(--ngx-filters-group-overlay-title-padding-inline, 1rem 0.5rem);
            padding-block: calc(var(--ngx-filters-group-overlay-title-padding-block, 1rem) / 4);
        }

        .filters--content {
            box-sizing: border-box;
            min-inline-size: var(--ngx-filters-group-overlay-content-min-inline-size, 18.75rem);
            flex: 1 1 auto;
            min-block-size: 0;
            overflow-y: auto;
            overflow-x: hidden;
            padding: var(--ngx-filters-group-overlay-content-padding, 8px 8px 8px 16px);
            display: flex;
            flex-direction: column;
            justify-items: stretch;
            gap: var(--ngx-filters-group-overlay-content-gap, 0.5rem);

            mat-slide-toggle {
                > * {
                    inline-size: 100%;
                    justify-content: space-between;

                    label {
                        margin: 0;
                    }
                }
            }
            .filter {
                display: flex;
                flex-direction: column;
                gap: var(--ngx-filters-group-overlay-content-filter-gap, 0.5rem);

                &:last-child {
                    padding-block-end: unset;
                }

                &:first-child {
                    padding-block-start: unset;
                }

                .title {
                    display: inline-flex;
                    justify-content: space-between;
                    align-items: baseline;
                    color: var(--ngx-filters-group-overlay-title-color, var(--mat-sys-on-surface-variant));

                    .label {
                        font: var(--ngx-filters-group-overlay-title-label-font, var(--mat-sys-title-small));
                        letter-spacing: var(
                            --ngx-filters-group-overlay-title-label-letter-spacing,
                            var(--mat-sys-title-small-tracking)
                        );
                    }

                    .value {
                        font: var(--ngx-filters-group-overlay-title-value-font, var(--mat-sys-label-medium));
                        letter-spacing: var(
                            --ngx-filters-group-overlay-title-value-letter-spacing,
                            var(--mat-sys-label-medium-tracking)
                        );
                        max-inline-size: var(--ngx-filters-group-overlay-title-max-width, 27ch);
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                > [no-padding] {
                    margin-inline: -1rem;
                }
            }
        }
    }
}
