@use '@angular/material' as mat;

@mixin theme($theme) {
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);

    [ngx-numeric-stepper-form-field] {
        ngx-numeric-stepper {
            .arrow {
                color: mat.m2-get-color-from-palette($primary);

                &[disabled] {
                    color: rgba(#000, 0.3);
                }
            }

            .shadow {
                background-color: mat.m2-get-color-from-palette($background, card);
                background-color: transparent;
            }
        }

        &:not(.disabled) {
            &.mat-mdc-form-field-invalid {
                ngx-numeric-stepper {
                    .arrow:not([disabled]) {
                        color: mat.m2-get-color-from-palette($warn);
                    }

                    .shadow {
                        box-shadow: 0px 2px 4px rgba(mat.m2-get-color-from-palette($warn), 0.3);
                    }
                }

                .mat-mdc-form-field-flex {
                    background-color: mat.m2-get-color-from-palette($background);
                }
            }

            &:hover {
                .mdc-text-field--filled {
                    overflow: visible;
                    background-color: transparent;

                    .mat-mdcform-field-focus-overlay,
                    .mat-mdc-form-field-focus-overlay,
                    .mdc-line-ripple {
                        transition: opacity ease-out;
                        opacity: 0;
                    }

                    .mat-mdc-form-field-flex {
                        background-color: transparent;
                    }

                    .shadow {
                        background-color: rgba(245, 245, 245);
                    }
                }
            }
        }

        &.mat-mdc-form-field-appearance-fill {
            ngx-numeric-stepper {
                .shadow::after {
                    background-color: rgba(0, 0, 0, 0.04);
                }
            }
        }
    }
}
