ngx-status-detail {
    display: flex;
    flex: 1 1 auto;
    height: 100%;

    ngx-message-box {
        overflow: hidden;
        width: 100%;

        .ngx-message-box {
            display: flex;
            flex-direction: column;
            height: 100%;

            .mat-mdc-card-content {
                display: flex;
                flex-direction: column;
                flex: 1 1 auto;
                padding: 1rem;
            }

            .mat-mad-card-title {
                padding: 1rem;
            }

            .detail-error-title {
                font-weight: 600;
            }

            .detail-error-container {
                overflow: scroll;
                background-color: #e3ecf0;
                color: rgba(0, 0, 0, 0.94);
                padding: 1rem;
                overflow: auto;
                flex: 1 1 auto;

                pre {
                    white-space: normal;
                }
            }
        }
    }
}

.ngx-status-panel {
    .mat-mdc-dialog-container {
        padding: 0;
    }
}
