ngx-splitter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: hidden;

    &[splitting] * {
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }

    ngx-split-area {
        flex: 1 1 auto;
        overflow: hidden;
    }

    .ngx-split-gutter {
        flex-shrink: 0;
        flex-grow: 0;
        background-position: 50%;
        background-repeat: no-repeat;
        content: none;
        cursor: default;
        background-image: none;
    }

    &[direction='horizontal'] {
        ngx-split-area {
            width: 100%;
        }

        &:not([disabled]) {
            .ngx-split-gutter {
                cursor: col-resize;
                content: ' ';
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
            }
        }
    }

    &[direction='vertical'] {
        ngx-split-area {
            height: 100%;
        }

        &:not([disabled]) {
            .ngx-split-gutter {
                cursor: row-resize;
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFCAMAAABl/6zIAAAABlBMVEUAAADMzMzIT8AyAAAAAXRSTlMAQObYZgAAABRJREFUeAFjYGRkwIMJSeMHlBkOABP7AEGzSuPKAAAAAElFTkSuQmCC');
            }
        }
    }
}
