<!-- Hours -->
<mat-form-field
    [appearance]="appearance"
    class="hours"
    [class.disabled]="disabled || mode === 'fullTimeWithHoursDisabled'"
    [style.display]="mode === 'minutesOnly' ? 'none' : 'block'"
    floatLabel="never">
    <input
        aria-label="hours"
        #hours
        matInput
        [attr.hours]="hoursValue"
        type="text"
        [ngModel]="hoursValue | number: '2.'"
        (ngModelChange)="hoursChange$.next($event)"
        [ngModelOptions]="{ updateOn: 'blur' }"
        (keydown)="hoursKeyDown$.next($event)"
        [disabled]="disabled || mode === 'fullTimeWithHoursDisabled'"
        [maxLength]="2"
        autocomplete="off"
        [placeholder]="defaultPlaceholderHours"
        (click)="hours.select()" />
    <ngx-numeric-stepper
        (increment)="hoursChange$.next((hoursValue || 0) + 1)"
        (decrement)="hoursChange$.next((hoursValue || 0) - 1)"></ngx-numeric-stepper>
</mat-form-field>

<!-- Separator -->
<span class="time-separator" [style.display]="mode === 'minutesOnly' || mode === 'hoursOnly' ? 'none' : 'block'">
    :
</span>

<!-- Minutes -->
<mat-form-field
    [appearance]="appearance"
    class="minutes"
    [class.disabled]="disabled || mode === 'fullTimeWithMinutesDisabled'"
    [style.display]="mode === 'hoursOnly' ? 'none' : 'block'"
    floatLabel="never">
    <input
        aria-label="minutes"
        #minutes
        matInput
        [attr.minutes]="minutesValue"
        type="text"
        [ngModel]="minutesValue | number: '2.'"
        (ngModelChange)="minutesChange$.next($event)"
        [ngModelOptions]="{ updateOn: 'blur' }"
        [disabled]="disabled || mode === 'fullTimeWithMinutesDisabled'"
        [maxLength]="2"
        autocomplete="off"
        [placeholder]="defaultPlaceholderMinutes"
        (click)="minutes.select()" />
    <ngx-numeric-stepper
        (increment)="minutesChange$.next((minutesValue || 0) + _step)"
        (decrement)="minutesChange$.next((minutesValue || 0) - _step)"></ngx-numeric-stepper>
</mat-form-field>
