@use '../../../core/m2/styles/theme';
@use '../../../core/m2/styles/themeVariables' as themeVariables;
@use '../../../status/src/status-theme' as statusTheme;
@use '../../../message-box/m2/message-box-theme' as messageBoxTheme;

@include statusTheme.theme(themeVariables.$theme);
@include messageBoxTheme.theme(themeVariables.$theme);

section.status {
    padding: 5rem;
    font-family: 'Roboto';
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ngx-snackbar {
        position: relative !important;
        z-index: 4 !important;
    }
    .matButtonContainer {
        display: flex;
        justify-content: center;
    }
}
.my-custom-css-class {
    background-color: burlywood !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}
