:host {
    .date-printer-container {
        width: 100%;

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 1rem;

            th,
            td {
                border: 1px solid #ccc;
                padding: 0.5rem;
                text-align: left;
            }

            th {
                background-color: #f0f0f0;
                font-weight: bold;
            }
        }
    }
}
