<mat-tab-group mat-stretch-tabs="false" [selectedIndex]="tabIndex" (selectedTabChange)="tabIndex = $event.index">
    <!--<mat-tab label="OVERVIEW">-->
    <!--<mat-card class="demo-card demo-basic">-->
    <!--TODO-->
    <!--</mat-card>-->
    <!--</mat-tab>-->
    <mat-tab label="API REFERENCE"></mat-tab>
    <mat-tab label="EXAMPLES"></mat-tab>
</mat-tab-group>

<mat-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
    <!-- <markdown [url]="'https://raw.githubusercontent.com/DSI-HUG/dejajs-components/develop/projects/deja-js/component/snackbar/readme.md'"></markdown> -->
</mat-card>

<div class="demo-card-container" *ngIf="tabIndex === 1">
    <mat-card class="demo-card">
        <mat-card-header>
            <mat-toolbar color="primary">Snackbar</mat-toolbar>
        </mat-card-header>
        <mat-card-content>
            <!--
                important:

                using web-animations-js polyfill is mandatory for IE & Safari because
                they don't implement the Web Animation API natively

                note:
                the graphic representation of the snackbar has no link with it's implementation beside it's size (see impl)
                the graphic impl proposed here may be impl in the future as a separate component
                it may be something that looks like a mat-card but with context property defining the context (danger, warning, success, info, simple)
                which will be translated to it's color and z index
            -->

            <!--
                todo
                check body position if scrollHeight > viewportHeight
                check if html container but !outerContainerElement => position on viewport
            -->

            <div class="btn-container">
                <button mat-raised-button background="danger" (click)="push.emit('danger')">Danger</button>
                <button mat-raised-button background="warning" (click)="push.emit('warning')">Warning</button>
                <button mat-raised-button background="success" (click)="push.emit('success')">Success</button>
                <button mat-raised-button background="info" (click)="push.emit('info')">Info</button>
                <button mat-raised-button class="spaced" (click)="simpleGate = true">Simple</button>
                <button mat-raised-button background="danger" (click)="showStatus('danger')">Status Danger</button>
                <button mat-raised-button background="warning" (click)="showStatus('warn')">Status Warn</button>
                <button mat-raised-button background="success" (click)="showStatus('success')">Status Success</button>
                <button mat-raised-button background="primary" (click)="showStatus('primary')">Status Primary</button>
                <button mat-raised-button (click)="showStatus('info')">Status Info</button>
            </div>

            <!-- simple use case, single snackbar -->
            <ngx-snackbar
                *ngIf="simpleGate"
                alignment="top left"
                [duration]="2000"
                (onAnimationDone)="simpleGate = false">
                <ngx-message-box type="primary" horizontal>Hello world ! I'm a simple snackbar.</ngx-message-box>
            </ngx-snackbar>

            <!-- event driven from UI -->
            <!-- this behavior is to be used to react to user behavior on the UI, snackbars MUST be disposed using user interraction -->

            <div class="sectionContainer">
                <section class="push-section">
                    <!-- server push like feed -->
                    <!-- this behavior is to be used to push message to the client for example, snackbars MUST be displosed by themself -->
                    <!-- to do so, define duration @Input and negate flag used for disposal using the onAnimationDone @Output -->
                    <ng-template ngFor let-message [ngForOf]="messages$ | async">
                        <ngx-snackbar
                            *ngIf="message.gate"
                            alignment="left"
                            [duration]="5000"
                            (onAnimationDone)="message.gate = false">
                            <ngx-message-box type="primary" horizontal>
                                {{ message.content }}
                            </ngx-message-box>
                        </ngx-snackbar>
                    </ng-template>
                </section>
                <!--inside a container-->
                <section #containerEl class="container" [style.position]="'relative'">
                    <ng-template ngFor let-message [ngForOf]="infos$ | async">
                        <ngx-snackbar *ngIf="message.gate" alignment="right" [outerContainerElement]="containerEl">
                            <ngx-message-box type="primary" horizontal>
                                {{ message.content }}
                                <ng-template #actionsTemplate>
                                    <button
                                        mat-icon-button
                                        class="action-button"
                                        [color]="'blank'"
                                        (click)="message.gate = false">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                </ng-template>
                            </ngx-message-box>
                        </ngx-snackbar>
                    </ng-template>
                </section>
            </div>

            <!--on the viewport-->
            <ng-template ngFor let-message [ngForOf]="successes$ | async">
                <ngx-snackbar *ngIf="message.gate" alignment="bottom left">
                    <ngx-message-box type="success" horizontal>
                        {{ message.content }}
                        <ng-template #actionsTemplate>
                            <button
                                mat-icon-button
                                class="action-button"
                                [color]="'blank'"
                                (click)="message.gate = false">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </ng-template>
                    </ngx-message-box>
                </ngx-snackbar>
            </ng-template>

            <ng-template ngFor let-message [ngForOf]="warnings$ | async">
                <ngx-snackbar *ngIf="message.gate" alignment="bottom">
                    <ngx-message-box type="warn" horizontal>
                        {{ message.content }}
                        <ng-template #actionsTemplate>
                            <button
                                mat-icon-button
                                class="action-button"
                                [color]="'blank'"
                                (click)="message.gate = false">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </ng-template>
                    </ngx-message-box>
                </ngx-snackbar>
            </ng-template>

            <ng-template ngFor let-message [ngForOf]="dangers$ | async">
                <ngx-snackbar *ngIf="message.gate" alignment="bottom right">
                    <ngx-message-box type="danger" horizontal>
                        {{ message.content }}
                        <ng-template #actionsTemplate>
                            <button
                                mat-icon-button
                                class="action-button"
                                [color]="'blank'"
                                (click)="message.gate = false">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </ng-template>
                    </ngx-message-box>
                </ngx-snackbar>
            </ng-template>
        </mat-card-content>
    </mat-card>
</div>
