@use '@angular/material' as mat;
@use '../../../../core/src/styles/themeVariables' as themeVariables;

$primary: map-get(themeVariables.$theme, primary);

:host {
    .container {
        display: block;
        margin: auto;
        max-width: 800px;
        max-height: 800px;
        min-height: 400px;
        box-sizing: border-box;
        border: solid rgba(0, 0, 0, 1) 1px;
    }

    .sectionContainer {
        display: flex;
        width: 100%;
        height: 400px;
        overflow: auto;
    }

    .btn-container {
        width: 1000px;
        margin: auto;
        margin-bottom: 12px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 5px 0;
        gap: 5px;

        .spaced {
            margin-right: 12px;
        }

        [background='danger'] {
            background: mat.m2-get-color-from-palette(mat.$m2-red-palette, 400);
        }

        [background='warning'] {
            background: mat.m2-get-color-from-palette(mat.$m2-orange-palette, 400);
        }

        [background='success'] {
            background: mat.m2-get-color-from-palette(mat.$m2-green-palette, 400);
        }

        [background='info'] {
            background: mat.m2-get-color-from-palette(mat.$m2-blue-palette, 400);
        }

        [background='default'] {
            background: mat.m2-get-color-from-palette(mat.$m2-grey-palette, 900);
        }

        [background='primary'] {
            background: mat.m2-get-color-from-palette($primary);
        }
    }

    .push-section {
        width: 400px;
        height: 5000px;
        border: red solid 1px;
    }
}
