:host {
    .demo-card {
        min-height: 200px;

        .mat-mdc-card-content {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-around;
            padding-top: 1rem;

            > div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .mat-mdc-form-field {
                flex: 1 1 auto;
                padding: 1rem;
            }
        }
    }
}
