@use '@angular/material' as mat;
@use '../../../core/m2/styles/theme';
@use '../../../core/m2/styles/themeVariables' as themeVariables;
@use '../../../layout/m2/layout-theme' as layoutTheme;
@use '../../../status/m2/status-theme' as statusTheme;

@include layoutTheme.theme(themeVariables.$theme);
@include statusTheme.theme(themeVariables.$theme);

section:has(ngx-layout) {
    padding: 5rem;
    font-family: 'Roboto';
    background-color: white;

    &.moreHeight {
        height: 100px;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 1rem;
        overflow: auto;
    }
}
