app-overlay-demo {
    #demo-overlay {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;

        .section {
            flex: 1 1 auto;
            width: 300px;
            margin: 0.5rem;
        }

        .end-icon {
            align-items: flex-end;
        }
    }
}

.ngx-menu {
    .menu-content {
        display: flex;
        flex-direction: column;

        &.anchor-menu,
        &.button-menu {
            .menu-item {
                white-space: nowrap;
                padding: 0.5rem 2rem;
            }
        }

        .mat-icon {
            margin-right: 0.5rem;
        }
    }
}
