// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
//@use "@hug/ngx-list-loader" as list-loader;
// @use "../../list-loader/src/list-loader-theme" as list-loader;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$demo-app-primary: mat.define-palette(mat.$indigo-palette);
$demo-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$demo-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$demo-app-theme: mat.define-light-theme(
    (
        color: (
            primary: $demo-app-primary,
            accent: $demo-app-accent,
            warn: $demo-app-warn,
        ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// ex: @include mat.button-theme($demo-app-theme)
@include mat.all-component-themes($demo-app-theme);
// @include list-loader.theme($demo-app-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@mixin menu() {
    .ngx-menu,
    [ngx-menu] {
        .cdk-overlay-pane {
            display: flex;
            flex-direction: column;

            .menu-content {
                overflow-x: hidden;
                overflow-y: auto;
                display: block;
                border-style: solid;
                border-width: 1px;
                box-shadow:
                    0 3px 1px -2px rgba(0, 0, 0, 0.2),
                    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                    0 1px 5px 0 rgba(0, 0, 0, 0.12);
                height: 100%;

                .menu-header,
                .menu-footer {
                    flex: 0 0 auto;
                    padding: 0.5rem;
                }

                > * {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 auto;

                    li {
                        cursor: pointer;
                        align-items: center;
                        display: flex;
                        justify-content: flex-start;
                        list-style-type: none;
                        padding: 0.5rem;

                        md-icon {
                            margin: 0 0.5rem;
                        }
                    }
                }
            }
        }
    }
}

@include menu();
