@use '@angular/material' as mat;
@use '../../core/src/styles/themeVariables' as themeVariables;
@use '../../core/src/styles/theme';
@use '../../core/src/styles/mixins/dialog' as dialog;
@use '../../core/src/styles/mixins/menu' as menu;
@use '../../core/src/styles/mixins/icon-theme' as iconTheme;
@use '../../core/src/styles/mixins/menu-theme' as menuTheme;
@use '../../layout/src/layout-theme' as layoutTheme;
@use '../../search-container/src/search-container-theme' as searchContainerTheme;
@use '../../message-box/src/message-box-theme' as messageBoxTheme;
@use '../../message-box-dialog/src/message-box-dialog-theme' as messageBoxDialogTheme;
@use '../../splitter/src/splitter-theme' as splitterTheme;
@use '../../numeric-stepper/src/numeric-stepper-theme' as numericStepperTheme;
@use '../../user-card/src/user-card-theme' as userCardTheme;
@use '../../status/src/status-theme' as statusTheme;
@use '../../list-loader/src/list-loader-theme' as listLoaderTheme;

@include layoutTheme.theme(themeVariables.$theme);
@include searchContainerTheme.theme(themeVariables.$theme);
@include messageBoxTheme.theme(themeVariables.$theme);
@include messageBoxDialogTheme.theme(themeVariables.$theme);
@include splitterTheme.theme(themeVariables.$theme);
@include numericStepperTheme.theme(themeVariables.$theme);
@include userCardTheme.theme(themeVariables.$theme);
@include iconTheme.theme(themeVariables.$theme);
@include menuTheme.theme(themeVariables.$theme);
@include statusTheme.theme(themeVariables.$theme);
@include listLoaderTheme.theme(themeVariables.$theme);

@include menu.menu();
@include dialog.dialog();

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.demo-content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);

    .demo-card {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .mat-toolbar {
            flex: 0 0 auto;
            margin-bottom: 2rem;
            padding: 1rem;
        }

        .mat-card-content {
            flex: 1 1 auto;
            overflow: auto;
        }
    }
}

.demo-card-container {
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;

    &.row {
        flex-direction: row;
    }
}
