<mat-tab-group [selectedIndex]="tabIndex" (selectedTabChange)="tabIndex = $event.index">
    <mat-tab label="API REFERENCE"></mat-tab>
    <mat-tab label="EXAMPLES"></mat-tab>
</mat-tab-group>

<mat-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
    <!-- <markdown [url]="'https://raw.githubusercontent.com/DSI-HUG/dejajs-components/develop/projects/deja-js/component/message-box/readme.md'"></markdown> -->
</mat-card>

<div class="demo-content" *ngIf="tabIndex === 1" class="example">
    <mat-card class="demo-card">
        <mat-toolbar color="primary">MessageBox</mat-toolbar>
        <mat-card-content>
            <ngx-message-box type="primary" title="Title" [actions]="closeAction">
                Du texte dans la
                <b>message box</b>
            </ngx-message-box>

            <ngx-message-box type="primary" title="Title" horizontal [actions]="closeAction">
                Du texte dans la
                <b>message box</b>
            </ngx-message-box>

            <ngx-message-box type="warn" horizontal title="Title" [actions]="closeAction">
                Un message "warn"
                <b>horizontal</b>
                avec titre
            </ngx-message-box>

            <ngx-message-box type="info" horizontal>
                Un message "info"
                <b>horizontal</b>
            </ngx-message-box>

            <ngx-message-box type="warn" horizontal [actions]="closeAction">
                Un message "warn"
                <b>horizontal</b>
            </ngx-message-box>

            <ngx-message-box type="danger" horizontal title="Title">
                Un message "danger"
                <b>horizontal</b>
                avec une action au format template
                <ng-template #actionsTemplate>
                    <button mat-icon-button>
                        <mat-icon>clear</mat-icon>
                    </button>
                </ng-template>
            </ngx-message-box>

            <ngx-message-box horizontal>Un message horizontal sans type ni titre</ngx-message-box>

            <ngx-message-box type="danger" horizontal light [actions]="closeAction">
                Un message horizontal sans type ni titre
            </ngx-message-box>
            <ngx-message-box type="success" horizontal light>Un message horizontal sans type ni titre</ngx-message-box>
            <ngx-message-box type="warn" horizontal light>Un message horizontal sans type ni titre</ngx-message-box>
            <ngx-message-box type="info" horizontal light>Un message horizontal sans type ni titre</ngx-message-box>

            <button mat-raised-button (click)="openDialog$.next()">Open dialog</button>
        </mat-card-content>
    </mat-card>
</div>
