:host {
    .flex-layout {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        gap: 5px;
    }

    .card1 ngx-message-box {
        width: 100%;
    }
}
