@if(withBackIcon()){
    <button
        mat-icon-button
        aria-label="Back button"
        matTooltip="Retour"
        (click)="triggerGoBack()"
    >
    <mat-icon>arrow_back</mat-icon>
</button>
}

<header class="{{ mode() }}">
    <h1 class="title">{{ title() }}</h1>
    @if(subtitle()) {
        @if (mode() === "condensed"){
            <mat-icon>chevron_right</mat-icon>
        }
        <h2 class="subtitle">{{ subtitle() }}</h2>
    }
</header>

<section class="actions">
    <ng-content />
    @if(helpUrl()){
        <button
            mat-icon-button
            aria-label="Help button"
            matTooltip="Aide"
            (click)="openHelp()"
        >
            <mat-icon>help</mat-icon>
        </button>
    }
</section>
