ngx-app-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: var(--ngx-app-bar-min-height, 3.5rem);
    box-sizing: border-box;
    gap: var(--ngx-app-bar-gap, 0.25rem);
    padding: var(--ngx-app-bar-with-subtitle-padding, 0.25rem 1rem);

    header {
        color: var(--mat-sys-on-surface-variant);

        &.condensed {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--ngx-app-bar-condensed-gap, 0.5rem);

            mat-icon {
                color: var(--mat-sys-outline);
            }
        }

        .title,
        .subtitle {
            margin: 0;
            white-space: nowrap;
        }

        .title {
            font: var(--ngx-app-bar-title-font, var(--mat-sys-headline-medium));
            letter-spacing: var(--ngx-app-bar-title-letter-spacing, var(--mat-sys-headline-medium-tracking));
        }

        .subtitle {
            font: var(--ngx-app-bar-subtitle-font, var(--mat-sys-headline-small));
            letter-spacing: var(--ngx-app-bar-subtitle-letter-spacing, var(--mat-sys-headline-small-tracking));
        }
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
        gap: var(--ngx-app-bar-actions-gap, 0.5rem);
    }
}
