app-date-picker-demo {
    .flex-layout {
        display: flex;
        flex-direction: row;

        > div {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .actions {
                display: flex;
                gap: 1rem;
            }
        }
    }

    .flex-layout-center {
        align-items: center;
        justify-items: center;
    }

    .flex-layout-column {
        display: flex;
        flex-direction: column;
    }

    .flex-layout-wrap {
        flex-wrap: wrap;
    }

    .mat-datepicker-actions {
        justify-content: center !important;
        margin: 1rem;
        flex-direction: column;

        .time-range {
            display: flex;
            align-items: center;

            .time-picker-separator {
                text-align: center;
                margin: 0 0.5rem;
            }
        }

        .action-buttons {
            margin-top: 2rem;
        }
    }

    // increase the input width to make room for the additional time
    .date-time-range {
        form {
            display: flex;
            flex-direction: column;
            width: 250px;
        }
    }
}

body {
    &[theme='blue'],
    &[theme='pink'],
    &[theme='teal'],
    &[theme='amber'] {
        // fix conflict with custom material theme in date picker calendar popup
        .mat-calendar-body-cell-content.mat-focus-indicator {
            position: absolute;
        }
    }
}
