ngx-actions-group {
    display: flex;
    inline-size: 100%;
    max-inline-size: 364px;
    min-width: 48px;

    > .container {
        display: flex;
        inline-size: fit-content;
        align-items: stretch;
        gap: var(--ngx-actions-group-gap, 0.75rem);
        border-radius: var(--ngx-actions-group-radius, 2rem);
        padding: var(--ngx-actions-group-padding, 0.25rem);
        background-color: var(--mat-sys-surface-container-low);
        max-inline-size: 100%;
        box-sizing: border-box;

        > .more-actions-button {
            order: 999;
        }
    }
}

.ngx-action--menu {
    .group {
        display: flex;
        flex-direction: column;

        &:not(:empty) {
            &:before {
                content: attr(label);
                padding-inline: 12px;
                padding-bottom: 4px;
            }
        }

        &:not(:last-child) {
            &:not(:empty) {
                border-bottom: 1px solid var(--ngx-actions-group-divider-color, var(--mat-sys-outline-variant));
            }
        }
    }
}
