ngx-panel {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    block-size: 100%;
    border-radius: var(--ngx-panel-radius, 2rem);
    padding-block: var(--ngx-panel-padding-block, 0.25rem);
    background-color: var(--mat-sys-surface-container-lowest);
    min-width: min-content;

    &[appearance='transparent'] {
        background-color: transparent;
    }

    .content {
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: var(--ngx-panel-content-gap, 0.5rem);
        padding-inline: var(--ngx-panel-content-padding-inline, 0.5rem);
        padding-block-end: var(--ngx-panel-content-padding-block-end, 0.75rem);
        flex: 1;

        &.no-padding {
            padding: 0;
        }
    }
}
