@use '@angular/material' as mat;

@mixin theme($theme) {
    $primary: map-get($theme, primary);

    .ngx-menu,
    [ngx-menu] {
        .menu-content {
            background-color: #fff;
            border-color: rgba(0, 0, 0, 0.3);

            > ul,
            &ul {
                li {
                    background-color: #fff;
                    color: mat.get-color-from-palette($primary);

                    &:hover {
                        background-color: mat.get-color-from-palette($primary);
                        color: #fff;
                    }
                }
            }

            > button,
            > a {
                background-color: #fff;
                color: mat.get-color-from-palette($primary);

                &:hover {
                    background-color: mat.get-color-from-palette($primary);
                    color: #fff;
                }
            }
        }
    }
}
