@mixin menu() {
    .ngx-menu,
    [ngx-menu] {
        .cdk-overlay-pane {
            display: flex;
            flex-direction: column;

            .menu-content {
                overflow-x: hidden;
                overflow-y: auto;
                display: block;
                border-style: solid;
                border-width: 1px;
                box-shadow:
                    0 3px 1px -2px rgba(0, 0, 0, 0.2),
                    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                    0 1px 5px 0 rgba(0, 0, 0, 0.12);
                height: 100%;

                .menu-header,
                .menu-footer {
                    flex: 0 0 auto;
                    padding: 0.5rem;
                }

                > ul,
                &ul {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 auto;

                    li {
                        cursor: pointer;
                        align-items: center;
                        display: flex;
                        justify-content: flex-start;
                        list-style-type: none;
                        padding: 0.5rem;

                        md-icon {
                            margin: 0 0.5rem;
                        }
                    }
                }
            }
        }
    }
}
