@use '@angular/material' as mat;
@use './themeVariables' as themeVariables;
@use './mixins/material-icons-theme' as materialIconsTheme;

@import './roboto';

// Include theme styles for core and each component used in the app
@include mat.core();
@include mat.all-component-themes(themeVariables.$theme);
@include materialIconsTheme.theme();

body#hug-ngx {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;

    .mat-icon {
        font-family: materialIconsTheme.$fontFamily;
    }
}
