@use "@angular/material" as mat;
@use "./palette" as palette;

// Define color scheme
$primary: mat.define-palette(palette.$mat-hug-primary);
$accent: mat.define-palette(mat.$teal-palette);
$warn: mat.define-palette(mat.$red-palette);

// Create the theme object from colors
$theme: mat.define-light-theme($primary, $accent, $warn);
