@use '../../../core/m2/styles/theme';
@use '../../../core/m2/styles/themeVariables' as themeVariables;
@use '../../../status/m2/status-theme' as statusTheme;
@use '../../../message-box/m2/message-box-theme' as messageBoxTheme;

@include statusTheme.theme(themeVariables.$theme);
@include messageBoxTheme.theme(themeVariables.$theme);

section.snack {
    padding: 5rem;
    width: 100%;
    font-family: 'Roboto';
    background-color: white;
    width: 500px;
    align-items: center;
}
