<mat-tab-group mat-stretch-tabs="false" [selectedIndex]="tabIndex" (selectedTabChange)="tabIndex = $event.index">
    <mat-tab label="API REFERENCE"></mat-tab>
    <mat-tab label="EXAMPLES"></mat-tab>
</mat-tab-group>

<mat-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
    <!-- <markdown [url]="'https://raw.githubusercontent.com/DSI-HUG/dejajs-components/develop/projects/deja-js/component/ngx-time-picker/readme.md'"></markdown> -->
</mat-card>

<div *ngIf="tabIndex === 1" class="demo-card-container">
    <mat-card class="demo-card">
        <mat-card-header>
            <mat-toolbar color="primary">Default user card</mat-toolbar>
        </mat-card-header>
        <mat-card-content>
            <div class="flex-layout">
                <ngx-user-card [user]="user1"></ngx-user-card>
                <ngx-user-card [user]="user2"></ngx-user-card>
                <ngx-user-card [user]="user3"></ngx-user-card>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="demo-card">
        <mat-card-header>
            <mat-toolbar color="primary">Not expanded user card</mat-toolbar>
        </mat-card-header>
        <mat-card-content>
            <div class="flex-layout">
                <ngx-user-card [user]="user1" expanded="false"></ngx-user-card>
                <ngx-user-card [user]="user2" expanded="false"></ngx-user-card>
                <ngx-user-card [user]="user3" expanded="false"></ngx-user-card>
            </div>
        </mat-card-content>
    </mat-card>
</div>
