@use '@angular/material' as mat;

@mixin theme($theme) {
    $warn: map-get($theme, warn);

    .cdk-overlay-container {
        .cdk-overlay-pane {
            &.warning {
                ngx-message-box-dialog {
                    mat-toolbar {
                        background-color: mat.m2-get-color-from-palette(mat.$m2-orange-palette, 500);
                    }

                    button.mat-primary {
                        color: mat.m2-get-color-from-palette(mat.$m2-orange-palette, 500);
                    }
                }
            }

            &.error {
                ngx-message-box-dialog {
                    mat-toolbar {
                        background-color: mat.m2-get-color-from-palette($warn);
                    }

                    button.mat-primary {
                        color: mat.m2-get-color-from-palette($warn);
                    }
                }
            }
        }
    }
}
