<div class="mat-dialog-title">
    <mat-toolbar class="dialog-toolbar" color="primary">
        <span>{{ dialogParams.title }}</span>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button mat-dialog-close="cancel">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
</div>

<mat-dialog-content class="dialog-container">
    <div [innerHTML]="dialogParams.text"></div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    @if (hasControl('CANCEL')) {
        <button type="button" id="cancelbtn" mat-button mat-dialog-close="cancel" color="primary" data-cy="cancel">
            Annuler
        </button>
    }
    @if (hasControl('IGNORE')) {
        <button type="button" mat-button mat-dialog-close="ignore" color="primary" data-cy="ignore">Ignorer</button>
    }
    @if (hasControl('RETRY')) {
        <button type="button" mat-stroked-button default mat-dialog-close="retry" color="primary" data-cy="retry">
            Recommencer
        </button>
    }
    @if (hasControl('OK')) {
        <button
            type="button"
            id="okbtn"
            mat-stroked-button
            mat-dialog-close="ok"
            color="primary"
            data-cy="ok"
            cdkFocusInitial>
            Ok
        </button>
    }
    @if (hasControl('YES')) {
        <button type="button" mat-stroked-button mat-dialog-close="yes" color="primary" data-cy="yes">Oui</button>
    }
    @if (hasControl('NO')) {
        <button type="button" mat-stroked-button mat-dialog-close="no" color="primary" data-cy="no">Non</button>
    }
    @if (hasControl('CONTINUE')) {
        <button type="button" mat-stroked-button mat-dialog-close="continue" color="primary" data-cy="continue">
            Continuer
        </button>
    }
</mat-dialog-actions>
