<div class="mat-dialog-title">
    <mat-toolbar class="dialog-toolbar" color="primary">
        <span>{{ dialogParams.title }}</span>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button mat-dialog-close="cancel">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
</div>

<mat-dialog-content class="dialog-container">
    <div [innerHTML]="dialogParams.text"></div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        type="button"
        id="cancelbtn"
        mat-button
        mat-dialog-close="cancel"
        *ngIf="hasControl('CANCEL')"
        color="primary"
        data-cy="cancel">
        Annuler
    </button>
    <button
        type="button"
        mat-button
        mat-dialog-close="ignore"
        *ngIf="hasControl('IGNORE')"
        color="primary"
        data-cy="ignore">
        Ignorer
    </button>
    <button
        type="button"
        mat-stroked-button
        default
        mat-dialog-close="retry"
        *ngIf="hasControl('RETRY')"
        color="primary"
        data-cy="retry">
        Recommencer
    </button>
    <button
        type="button"
        id="okbtn"
        mat-stroked-button
        mat-dialog-close="ok"
        *ngIf="hasControl('OK')"
        color="primary"
        data-cy="ok"
        cdkFocusInitial>
        Ok
    </button>
    <button
        type="button"
        mat-stroked-button
        mat-dialog-close="yes"
        *ngIf="hasControl('YES')"
        color="primary"
        data-cy="yes">
        Oui
    </button>
    <button
        type="button"
        mat-stroked-button
        mat-dialog-close="no"
        *ngIf="hasControl('NO')"
        color="primary"
        data-cy="no">
        Non
    </button>
    <button
        type="button"
        mat-stroked-button
        mat-dialog-close="continue"
        *ngIf="hasControl('CONTINUE')"
        color="primary"
        data-cy="continue">
        Continuer
    </button>
</mat-dialog-actions>
