<div class="ngx-user-card-header">
    @if (userCard.badgeColor; as badgeColor) {
        <span class="header-badge" [ngClass]="badgeColor + '-badge'"></span>
    }
    <div class="header-infos">
        <div class="header-fullname">
            {{ userCard.fullname }}
            @if (userCard.initials; as initials) {
                <span class="header-initials">
                    {{ ' - ' + initials }}
                </span>
            }
        </div>
        <div class="header-function">
            {{ userCard.function }}{{ userCard.specialty ? ' - ' + userCard.specialty : '' }}
        </div>
    </div>
</div>
@if (expanded) {
    <div class="ngx-user-card-wrapper">
        <hr />
        <div class="ngx-user-card-content">
            <div class="content-service">
                <div class="label">{{ intl?.service ?? 'Service' }}</div>
                <div class="value">{{ userCard.service ?? '-' }}</div>
            </div>
            <div class="content-type">
                <div class="label">{{ intl?.type ?? 'Type' }}</div>
                <div class="value">{{ userCard.type ?? '-' }}</div>
            </div>
            <div class="content-phone">
                <div class="label">{{ intl?.phoneNumber ?? 'Phone' }}</div>
                <div class="value">{{ userCard.phoneNumber ?? '-' }}</div>
            </div>
            <div class="content-mobile">
                <div class="label">{{ intl?.mobileNumber ?? 'Mobile' }}</div>
                <div class="value">{{ userCard.mobileNumber ?? '-' }}</div>
            </div>
            <div class="content-email">
                <div class="label">{{ intl?.email ?? 'Email' }}</div>
                <div class="value">{{ userCard.email ?? '-' }}</div>
            </div>
            <div class="content-address">
                <div class="label">{{ intl?.address ?? 'Address' }}</div>
                <div class="value" [innerHTML]="userCard.address ?? '-'"></div>
            </div>
        </div>
    </div>
}
