ngx-datepicker-buttons {
    font-size: 80%;
    white-space: nowrap;

    .mat-mdc-icon-button .mat-mdc-button-touch-target {
        width: 100%;
        height: 100%;
    }

    .ngx-date-picker-button {
        max-width: 24px;
        max-height: 24px;
        .mat-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
        }

        &:not(.mat-button-disabled) {
            color: rgba(0, 0, 0, 0.55);
        }
    }
}

.mat-mdc-form-field {
    font-size: inherit;

    ngx-datepicker-buttons {
        .mat-mdc-icon-button {
            font-size: 130%;
            padding: 0;
        }
    }
}
