ngx-time-picker.ngx-datepicker-with-time {
    .time-range {
        display: flex;
        align-items: center;

        .ngx-time-picker-separator {
            margin: 0 0.5rem;
            text-align: center;
        }
    }
}

.ngx-datepicker-with-time.action-buttons {
    padding: 1.5rem 0 1rem 0;
    display: flex;
    justify-content: center;
}

.mat-datepicker-content-container[layout='h'] {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .mat-calendar {
        height: auto;

        .mat-calendar-header {
            padding: 0 8px 0 8px;
        }
    }

    .mat-calendar,
    ngx-time-picker.ngx-datepicker-with-time {
        flex: 0 0 auto;
    }

    .ngx-datepicker-with-time.action-buttons {
        flex: 1 0 100%;
        padding: 0 0 1rem 0;
    }
}
