section.sidenav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;

    &.size100x100 {
        width: 100px;
        height: 100px;
        position: relative;
    }

    &.size300x300 {
        width: 300px;
        height: 300px;
        position: relative;
    }

    &.min600x400 {
        width: 600px;
        height: 400px;
        position: relative;
    }

    &.min300x300 {
        min-width: 300px;
        min-height: 300px;
    }

    &.min300x400 {
        min-width: 300px;
        min-height: 400px;
    }

    &.min600x400 {
        min-width: 600px;
        min-height: 400px;
    }

    &.min500x300 {
        min-width: 500px;
        min-height: 300px;
    }

    &.fullscreen {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    &.theme-light {
        background-color: var(--mat-sys-surface-container) !important;
    }

    &.theme-dark {
        background-color: var(--mat-sys-primary) !important;
    }

    .page {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: flex;
        flex-direction: row;
        background-color: var(--mat-sys-surface-container-lowest);
        color: var(--mat-sys-on-surface);

        &.location-top {
            flex-direction: column;
        }

        &.location-bottom {
            flex-direction: column-reverse;

            > .page-container {
                flex-direction: row-reverse;
            }
        }

        &.location-left {
            flex-direction: row;
        }

        &.location-right {
            flex-direction: row-reverse;

            > .page-container {
                flex-direction: row-reverse;
            }
        }

        .page-container {
            display: flex;
            flex: 1 1 auto;
            flex-direction: row;
            height: 100%;
            gap: 0.5rem;

            .panels {
                display: flex;
                height: 100%;
            }

            .content {
                flex: 1 1 auto;
                padding: 1rem;
            }
        }
    }

    .layout {
        display: flex;
        flex-direction: column;

        .layout-header {
            display: flex;
            background-color: var(--mat-sys-secondary);
            height: 3rem;
        }

        .layout-container {
            display: flex;
            flex: 1 1 auto;

            .layout-sidebar {
                display: flex;
                background-color: var(--mat-sys-primary);
                width: 3rem;
            }

            .layout-panel {
                display: flex;
                flex-direction: row;
            }

            .layout-content {
                display: flex;
                flex: 1 1 auto;
            }
        }
    }

    &.location-right {
        .layout-container {
            flex-direction: row-reverse;
        }
    }

    .parts {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 4rem;
    }

    .subpart-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .align-left {
        --ngx-nav-justify-content: start;
    }

    .part-title {
        display: flex;
        font: var(--mat-sys-title-medium);
        padding: 1rem 0;
    }

    .subpart-title {
        display: flex;
        font: var(--mat-sys-title-small);
        padding: 1rem 0;
    }

    .sidenav-title {
        display: flex;
        text-align: center;
        font: var(--mat-sys-label-medium);
        padding: 1rem 0 0 0;
    }

    .direction-vertical {
        .content-list.sidenav {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            .ngx-sidenav {
                height: 500px;
            }
        }
    }

    .direction-horizontal {
        .content-list.sidenav {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            > div {
                display: flex;
                flex-direction: row;

                .sidenav-title {
                    width: 100px;
                }

                .sidenav-content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1 1 auto;
                }

                .ngx-sidenav {
                    width: 500px;
                }
            }
        }
    }

    // # Tailwind css

    .flex {
        display: flex;
    }

    .flex-row {
        flex-direction: row !important;
    }

    .flex-column {
        flex-direction: column !important;
    }

    .w-full {
        width: 100%;
        box-sizing: border-box;
    }

    .h-full {
        height: 100%;
        box-sizing: border-box;
    }

    .gap-4 {
        gap: 1rem;
    }

    .px-4 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .flex-auto {
        flex: 1 1 auto;
    }
}

section.vertical {
    .page {
        flex-direction: row;
    }
}

section.nav-button,
section.nav-icon-button {
    .color {
        // Loading
        --ngx-nav-button-loading-color: darkorange;
        // Badge
        --mat-badge-background-color: darkorange;
        --mat-badge-text-color: rgba(255, 255, 255, 0.8);
        // Icon
        --ngx-nav-button-icon-color: darkorange;
        // Text
        --ngx-nav-button-text-color: darkorange;
    }
}
