$cyan-palette: (
    0: #000000,
    10: #001f26,
    20: #003640,
    25: #00424d,
    30: #004e5b,
    35: #005b6a,
    40: #006879,
    50: #2a8194,
    60: #499cae,
    70: #66b6ca,
    80: #82d2e6,
    90: #a9edff,
    95: #d7f6ff,
    98: #f0fbff,
    99: #f8fdff,
    100: #ffffff,
    secondary: (
        0: #000000,
        10: #051f1f,
        20: #1b3534,
        25: #27403f,
        30: #324b4b,
        35: #3e5757,
        40: #4a6363,
        50: #627c7b,
        60: #7b9695,
        70: #95b0b0,
        80: #b0cccb,
        90: #cce8e7,
        95: #daf6f5,
        98: #e3fffe,
        99: #f1fffe,
        100: #ffffff
    ),
    neutral: (
        0: #000000,
        10: #191c1c,
        20: #2d3131,
        25: #383c3c,
        30: #444747,
        35: #4f5353,
        40: #5b5f5f,
        50: #747877,
        60: #8e9191,
        70: #a9acab,
        80: #c4c7c6,
        90: #e0e3e2,
        95: #eff1f0,
        98: #f7faf9,
        99: #fafdfc,
        100: #ffffff,
        4: #0b0f0e,
        6: #101414,
        12: #1c2020,
        17: #272b2a,
        22: #313635,
        24: #363a39,
        87: #d7dbd9,
        92: #e6e9e7,
        94: #ebefed,
        96: #f1f4f3
    ),
    neutral-variant: (
        0: #000000,
        10: #141d1d,
        20: #293232,
        25: #343d3d,
        30: #3f4948,
        35: #4a5454,
        40: #566060,
        50: #6f7979,
        60: #889392,
        70: #a3adad,
        80: #bec9c8,
        90: #dae5e4,
        95: #e9f3f2,
        98: #f1fbfa,
        99: #f4fefd,
        100: #ffffff
    ),
    error: (
        0: #000000,
        10: #410002,
        20: #690005,
        25: #7e0007,
        30: #93000a,
        35: #a80710,
        40: #ba1a1a,
        50: #de3730,
        60: #ff5449,
        70: #ff897d,
        80: #ffb4ab,
        90: #ffdad6,
        95: #ffedea,
        98: #fff8f7,
        99: #fffbff,
        100: #ffffff
    )
);

$blue-palette: (
    0: #000000,
    10: #001945,
    20: #152e60,
    25: #223a6b,
    30: #2f4578,
    35: #3b5184,
    40: #475d91,
    50: #6076ac,
    60: #7a90c7,
    70: #94aae3,
    80: #b0c6ff,
    90: #d9e2ff,
    95: #eef0ff,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
    secondary: (
        0: #000000,
        10: #191a2c,
        20: #2e2f42,
        25: #393a4d,
        30: #444559,
        35: #505165,
        40: #5c5d72,
        50: #75758b,
        60: #8f8fa6,
        70: #a9a9c1,
        80: #c5c4dd,
        90: #e1e0f9,
        95: #f1efff,
        98: #fbf8ff,
        99: #fffbff,
        100: #ffffff
    ),
    neutral: (
        0: #000000,
        10: #1b1b1f,
        20: #303034,
        25: #3c3b3f,
        30: #47464a,
        35: #535256,
        40: #5f5e62,
        50: #78767a,
        60: #929094,
        70: #adaaaf,
        80: #c8c5ca,
        90: #e5e1e6,
        95: #f3eff4,
        98: #fcf8fd,
        99: #fffbff,
        100: #ffffff,
        4: #0e0e11,
        6: #131316,
        12: #201f22,
        17: #2a292d,
        22: #353438,
        24: #3a393c,
        87: #dcd9dd,
        92: #ebe7eb,
        94: #f0edf1,
        96: #f6f2f7
    ),
    neutral-variant: (
        0: #000000,
        10: #1b1b23,
        20: #303038,
        25: #3b3b43,
        30: #46464f,
        35: #52515b,
        40: #5e5d67,
        50: #777680,
        60: #91909a,
        70: #acaab4,
        80: #c7c5d0,
        90: #e4e1ec,
        95: #f2effa,
        98: #fbf8ff,
        99: #fffbff,
        100: #ffffff
    ),
    error: (
        0: #000000,
        10: #410002,
        20: #690005,
        25: #7e0007,
        30: #93000a,
        35: #a80710,
        40: #ba1a1a,
        50: #de3730,
        60: #ff5449,
        70: #ff897d,
        80: #ffb4ab,
        90: #ffdad6,
        95: #ffedea,
        98: #fff8f7,
        99: #fffbff,
        100: #ffffff
    )
);
