@use '../../../core/src/styles/theme';
@use '../../../core/src/styles/themeVariables' as themeVariables;
@use '../../../splitter/src/splitter-theme' as splitterTheme;

@include splitterTheme.theme(themeVariables.$theme);

section.splitter {
    padding: 1rem;
    font-family: 'Roboto';
    background-color: white;
    height: 400px;
    width: 100%;

    &.bigger {
        width: 800px;
        height: 800px;

        ngx-splitter {
            height: 600px;
        }
    }

    ngx-splitter {
        width: 100%;
        height: 300px;
        border: 1px solid gray;

        &.colored {
            border: 2px solid orange;

            .ngx-split-gutter {
                background-color: black;
            }
            ngx-split-area {
                position: relative;
                color: black;

                .minContainer {
                    background-color: rgb(255, 0, 0, 0.1);
                    height: 100%;
                    position: absolute;
                    top: 0;
                    font-size: 10px;
                    display: flex;
                    align-items: end;
                    font-family: 'Roboto';
                    justify-content: center;
                    text-wrap: nowrap;

                    &.left {
                        left: 0;
                    }
                    &.right {
                        right: 0;
                    }
                }
            }
            ngx-split-area:nth-child(odd) {
                background-color: aliceblue;
            }
            ngx-split-area:nth-child(even) {
                background-color: lightgoldenrodyellow;
            }
        }
    }
    .matButtonContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 10px;
    }
}
