name: Test user-tooltip

on:
    workflow_dispatch:
    repository_dispatch:
        types: [test_user-tooltip]
    push:
        branches:
            - '**'
        tags-ignore:
            - '**'
        paths:
            - '.github/workflows/ci_test_user-tooltip.yml'
            - 'projects/m2/user-tooltip/**'

concurrency:
    group: ci-test-user-tooltip-group-${{ github.ref }}
    cancel-in-progress: true

jobs:
    ci_test_user-tooltip:
        uses: dsi-hug/actions/.github/workflows/action.yml@v3
        with:
            working-directory: projects/m2/user-tooltip
            runs-on: '["ubuntu-latest", "macos-latest", "windows-latest"]'
            lint: true
            test: true
