name: Test overlay

on:
    workflow_dispatch:
    repository_dispatch:
        types: [test_overlay]
    push:
        branches:
            - '**'
        tags-ignore:
            - '**'
        paths:
            - '.github/workflows/ci_test_overlay.yml'
            - 'projects/m2/overlay/**'

concurrency:
    group: ci-test-overlay-group-${{ github.ref }}
    cancel-in-progress: true

jobs:
    ci_test_overlay:
        uses: dsi-hug/actions/.github/workflows/action.yml@v3
        with:
            working-directory: projects/m2/overlay
            runs-on: '["ubuntu-latest", "macos-latest", "windows-latest"]'
            lint: true
            test: true
