name: Test message-box

on:
    workflow_dispatch:
    repository_dispatch:
        types: [test_message-box]
    push:
        branches:
            - '**'
        tags-ignore:
            - '**'
        paths:
            - '.github/workflows/ci_test_message-box.yml'
            - 'projects/m2/message-box/**'

concurrency:
    group: ci-test-message-box-group-${{ github.ref }}
    cancel-in-progress: true

jobs:
    ci_test_message-box:
        uses: dsi-hug/actions/.github/workflows/action.yml@v3
        with:
            working-directory: projects/m2/message-box
            runs-on: '["ubuntu-latest", "macos-latest", "windows-latest"]'
            lint: true
            test: true

    ci_test_deps:
        needs: ci_test_message-box
        runs-on: 'ubuntu-latest'
        steps:
            - name: Test status
              uses: peter-evans/repository-dispatch@v3
              with:
                  event-type: test_status
