name: Test user-card

on:
    workflow_dispatch:
    repository_dispatch:
        types: [test_user-card]
    push:
        branches:
            - '**'
        tags-ignore:
            - '**'
        paths:
            - '.github/workflows/ci_test_user-card.yml'
            - 'projects/m2/user-card/**'

concurrency:
    group: ci-test-user-card-group-${{ github.ref }}
    cancel-in-progress: true

jobs:
    ci_test_user-card:
        uses: dsi-hug/actions/.github/workflows/action.yml@v3
        with:
            working-directory: projects/m2/user-card
            runs-on: '["ubuntu-latest", "macos-latest", "windows-latest"]'
            lint: true
            test: true

    ci_test_deps:
        needs: ci_test_user-card
        runs-on: 'ubuntu-latest'
        steps:
            - name: Test user-tooltip
              uses: peter-evans/repository-dispatch@v3
              with:
                  event-type: test_user-tooltip
