name: Test list-loader

on:
    workflow_dispatch:
    repository_dispatch:
        types: [test_list-loader]
    push:
        branches:
            - '**'
        tags-ignore:
            - '**'
        paths:
            - '.github/workflows/ci_test_list-loader.yml'
            - 'projects/m2/list-loader/**'

concurrency:
    group: ci-test-list-loader-group-${{ github.ref }}
    cancel-in-progress: true

jobs:
    ci_test_list-loader:
        uses: dsi-hug/actions/.github/workflows/action.yml@v3
        with:
            working-directory: projects/m2/list-loader
            runs-on: '["ubuntu-latest", "macos-latest", "windows-latest"]'
            lint: true
            test: true
