name: Test splitter

on:
    workflow_dispatch:
    repository_dispatch:
        types: [test_splitter]
    push:
        branches:
            - '**'
        tags-ignore:
            - '**'
        paths:
            - '.github/workflows/ci_test_splitter.yml'
            - 'projects/m2/splitter/**'

concurrency:
    group: ci-test-splitter-group-${{ github.ref }}
    cancel-in-progress: true

jobs:
    ci_test_splitter:
        uses: dsi-hug/actions/.github/workflows/action.yml@v3
        with:
            working-directory: projects/m2/splitter
            runs-on: '["ubuntu-latest", "macos-latest", "windows-latest"]'
            lint: true
            test: true
