name: Test time-picker

on:
    workflow_dispatch:
    repository_dispatch:
        types: [test_time-picker]
    push:
        branches:
            - '**'
        tags-ignore:
            - '**'
        paths:
            - '.github/workflows/ci_test_time-picker.yml'
            - 'projects/m2/time-picker/**'

concurrency:
    group: ci-test-time-picker-group-${{ github.ref }}
    cancel-in-progress: true

jobs:
    ci_test_time-picker:
        uses: dsi-hug/actions/.github/workflows/action.yml@v3
        with:
            working-directory: projects/m2/time-picker
            runs-on: '["ubuntu-latest", "macos-latest", "windows-latest"]'
            lint: true
            test: true
