@use '@angular/material' as mat;

:host {
    ngx-layout {
        .content-container {
            display: flex;
            flex: 1 1 auto;
            padding: 1rem;
            background: mat.m2-get-color-from-palette(mat.$m2-green-palette, 100);
        }

        .layout-right-container {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            background: mat.m2-get-color-from-palette(mat.$m2-red-palette, 100);
        }
    }
}
